<div class="projects-header">
  <h2>Реестр проектов</h2>
  <div class="projects-filters">
    <div class="toolbar-item">
      <a class="button -alt-highlight" href="/projects/new">
        <i class="button--icon icon-add"></i>
        <span class="button--text">Инициировать проект</span>
      </a>
    </div>
    <div class="toolbar-item">
      <button id="projects-filter-toggle-button" title="Показать/скрыть фильтры" class="button toolbar-icon">
        <i class="icon-filter button--icon" aria-hidden="true"></i>
      </button>
    </div>
    <div class="toolbar-item">
      <a class="button" href="/activities">
        Общая деятельность
      </a>
    </div>
    <div class="toolbar-item">
      <a class="button" href="/report_project">
        Сводный отчет
      </a>
    </div>
  </div>
</div>



<projects-table></projects-table>
