<h3 class="widget-box--header" cdkDragHandle>
    <span class="widget-box--header-title">Запросы мне</span>
</h3>
<div class="grid--widget-content">
    <table width="100%">
        <tr style="border-bottom: 1px solid #E7E7E7; height: 40px;"><th>Запрос от</th><th>Проект</th><th>Пакет работ</th><th>Текст</th><th>Срок</th></tr>
        <ng-container *ngFor="let user_task of entries">
            <tr style="border-bottom: 1px solid #E7E7E7; height: 40px;">
                <th [textContent]="user_task.user_creator"></th>
                <th><a [href]="user_task.project" [textContent]="user_task.project_name"></a></th>
                <th><a [href]="user_task.object" [textContent]="user_task.object_name"></a></th>
                <th><a [href]="user_taskText(user_task)" [textContent]="user_task.text"></a></th>
                <th [textContent]="user_task.due_date"></th>
            </tr>
        </ng-container>
    </table>
</div>
<a href="/user_tasks/new?head_text=Запрос+на+приемку+задачи&kind=Request&object_type=WorkPackage">Создать</a>
