<%#--
This file written by XCC
06/07/2019
++#%>

<%= error_messages_for :report_change_request %>
<section class="form--section">
     <%= link_to "Сформировать", {report_id: "report_change_request"}, class: 'button' %>

</section>
