<%#--
This file written by TAN
25/04/2019 method: :post,
++#%>

<%#
  needs locals:
  f: labelled form builder
%>

<%= error_messages_for :depart %>
<section class="form--section">
  <div class="form--field"><%= f.text_field 'name', required: true, container_class: '-middle' %></div>
  <%= link_to 'new', {controller: 'organizations', action: 'new'},  {:remote => true}  %>
  <%= link_to 'Add user3', {controller: 'organizations', action: 'select'},  {:remote => true,  'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
</section>
