<%#--
This file written by TAN
25/04/2019
++#%>

<% html_title l(:label_administration), l(:label_depart_new) %>
<% local_assigns[:additional_breadcrumb] =  l(:label_depart_new) %>
<%= breadcrumb_toolbar l(:label_depart_new) %>
<%= labelled_tabular_form_for @depart do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <%= styled_button_tag l(:button_create), class: '-highlight -with-icon icon-checkmark' %>
<% end %>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
