<h3 class="widget-box--header">
  <%= op_icon('icon-context icon-projects') %>
  <span class="widget-box--header-title"><%= l(:label_diagram_done_ratio) %></span>
</h3>

<wp-homescreen-done-ratio-diagram>
</wp-homescreen-done-ratio-diagram>


