<h2>Риски и проблемы</h2>
<table>
    <tr>
        <td>Проект</td>
        <td><b>Создание региональной цифровой платформы ИСЗ</b></td>
    </tr>

    <tr>
        <td>Куратор</td>
        <td><b>Цыбикжапов В.Б.</b></td>
    </tr>

    <tr>
        <td>Руководитель</td>
        <td><b>Самбуев Д.Н.</b></td>
    </tr>

    <tr>
        <td>Фильтр</td>
        <td>
            <a href="" (click)="this.blueChild.changeFilter('all')">Все</a> /
            <a href="" (click)="this.blueChild.changeFilter('notsolved')">Не решены</a> /
            <a href="" (click)="this.blueChild.changeFilter('solved')">Решены</a>
        </td>
    </tr>
</table>

<homescreen-blue-table [template]="'problems'"></homescreen-blue-table>
