<%#--
This file written by XCC
06/07/2019
++#%>

<% html_title l(:label_administration), "#{l(:label_edit)} #{Target.model_name.human} #{h @target.name}" %>
<% breadcrumb_paths(default_breadcrumb, @target) %>
<%= toolbar title: @target %>

<div class="tabs">
  <ul>
    <li>
      <%= link_to "Свойства",
                  edit_tab_project_target_path(id: @target.id, tab: :properties),
                  class: "#{'selected' if @tab == "properties" }"  %>
    </li>
    <li>
      <%= link_to "Плановые значения исполнения цели",
                  edit_tab_project_target_path(id: @target.id, tab: :target_execution_values),
                  class: "#{'selected' if @tab == 'target_execution_values' }"  %>
    </li>

  </ul>
</div>

<%= render partial: "targets/form/#{@tab}"%>
