table
  width: 100%
button
  border: none
  background: none
table
  height: 300px
  display: block
  overflow-y: auto
::ng-deep .mat-icon-button
  border: none
  background: none
::ng-deep .mat-paginator-page-size
  align-items: center !important
  height: 40px !important
::ng-deep .mat-paginator-page-size-select
  margin: 0px 4px 0 4px !important
::ng-deep .mat-tooltip
  color: #FFF !important
  background: #1a68a3
  padding: 0px
  margin: 0
::ng-deep .cdk-overlay-connected-position-bounding-box
  padding: 0px
  margin: 0px
::ng-deep .mat-dialog-title
  color: #FFF !important
  background: #1a68a3
  padding: 10px
  margin: 0px
::ng-deep .mat-table
  padding: 10px
  margin: 0px
::ng-deep .mat-header-cell
  text-align: left
  text-indent: 5px
::ng-deep .cdk-overlay-pane
  border-radius: 10px
::ng-deep .mat-dialog-container
  border-radius: 10px
  padding: 0px

