<div style="display: block;">
    <div>
        <input type="checkbox"
               id="wp_button_rukovoditel_proekta"
               (change)="filterChart()"
               [(ngModel)]="rukovoditelProekta"
               name="button_rukovoditel_proekta" />
        Руководитель проекта
    </div>
    <div>
        <input type="checkbox"
               id="wp_button_kurator"
               (change)="filterChart()"
               [(ngModel)]="kurator"
               name="button_kurator" />
        Куратор проекта
    </div>
    <div>
        <input type="checkbox"
               id="wp_button_ruk_proekt_ofisa"
               (change)="filterChart()"
               [(ngModel)]="rukProektOfisa"
               name="button_ruk_proekt_ofisa" />
        Руководитель проектного офиса
    </div>
    <div>
        <input type="checkbox"
               id="wp_button_koordinator"
               (change)="filterChart()"
               [(ngModel)]="koordinator"
               name="button_koordinator" />
        Координатор от проектного офиса
    </div>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
</div>
