<table class="blueTable">
    <thead>
        <tr>
            <th *ngFor="let column of columns">
                <b [textContent]="column"></b>
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td [attr.colspan]="columns.length">
                <div class="links"><a href="#">&laquo;</a>
                    <a class="chtbl" href="#">1</a>
                    <a class="chtbl" href="#">2</a>
                    <a class="chtbl" href="#">3</a>
                    <!--            <a class="chtbl" href="#">4</a>-->
                    <a class="links" href="#">&raquo;</a>
                </div>
            </td>
        </tr>
    </tfoot>
    <tbody>
        <tr *ngFor="let row of data"
            [ngClass]="row._type === 'Project' ? 'colored-row' : null">
            <td *ngFor="let column of columns; let i = index"
                [ngClass]="this.blueTableModule.getTdClass(row, i)"
                [innerHTML]="this.blueTableModule.getTdData(row, i)">
            </td>
        </tr>
    </tbody>
</table>
