<%= 'План коммуникаций - ' + @tab %>

<div class="tabs">
  <ul>
    <li>
      <%= link_to 'Информационные потребности',
                  project_communication_meetings_path(project_id: @project.id, tab: :req),
                  class: "#{'selected' if @tab == "req" }"  %>
    </li>
    <li>
      <%= link_to 'Встречи и участники',
                  project_communication_meetings_path(project_id: @project.id, tab: :meet),
                  class: "#{'selected' if @tab == 'meet' }"  %>
    </li>
  </ul>
</div>

<%= render partial: "communication_meetings/#{@tab}"%>


