<h1>В системный справочник "Статусы пакета работ" внесены изменения: добавлен статус: <%= @status.name %></h1>
<p>Ссылка: <%= Setting.host_name+'/statuses' %><br>
<p>Дата и время: <%= @status.created_at %><p/>
