<h1>В системный справочник "Типы рабочих пакетов" внесены изменения: добавлен тип: <%= @type.name %></h1>
<p>Ссылка: <%= Setting.host_name+'/types' %><br>
<p>Дата и время: <%= @type.created_at %><p/>
