<table style="font-weight: bold; width: 100%; text-align: center" border="1">
  <tr>
    <td></td>
    <td>Ответственный</td>
    <td>Срок</td>
    <td>Исполнение</td>
  </tr>
  <tr>
    <td style="text-align: left">
      <p>Здравоохранение</p>
      <p style="margin-left: 50px;">Создание единого цифрового контура в здравоохранении на основе ЕГИСЗ</p>
      <p style="margin-left: 100px;">Создание региональной цифровой платформы ИСЗ</p>
      <p style="margin-left: 150px;">Поручение: представить документы</p>
      <p style="margin-left: 200px; color: green">Поручение: подготовить отчеты</p>
      <p style="margin-left: 100px;">Снижение смертности населения трудоспособного возраста</p>
      <p style="margin-left: 150px;">Внедрение системы контроля качества медицинской помощи в РБ</p>
      <p style="margin-left: 200px; color: orange">Поручение: дать предложение</p>
      <p style="margin-left: 200px; color: red">Поручение: подготовить доклад</p>
    </td>
    <td>
      <p style="width: 300px;">&nbsp</p>
      <p style="width: 300px;">&nbsp</p>
      <p style="width: 300px;">&nbsp</p>
      <p style="margin-left: 0px;">Цыбикжапов В.Б</p>
      <p style="margin-left: 0px; color: green">Цыбикжапов В.Б</p>
      <p style="width: 300px;">&nbsp</p>
      <p style="width: 300px;">&nbsp</p>
      <p style="margin-left: 0px; color: orange">Самбуев Д.Ц.</p>
      <p style="margin-left: 0px; color: red">Cамбуев Д.Ц.</p>
    </td>
    <td>
      <p style="width: 300px;">&nbsp</p>
      <p style="width: 300px;">&nbsp</p>
      <p style="width: 300px;">&nbsp</p>
      <p style="margin-left: 0px;">11.11.2019</p>
      <p style="margin-left: 0px; color: green">08.07.2019</p>
      <p style="width: 300px;">&nbsp</p>
      <p style="width: 300px;">&nbsp</p>
      <p style="margin-left: 0px; color: orange">24.07.2019</p>
      <p style="margin-left: 0px; color: red">04.07.2019</p>
    </td>
    <td>
      <p style="width: 300px;">&nbsp</p>
      <p style="width: 300px;">&nbsp</p>
      <p style="width: 300px;">&nbsp</p>
      <p style="margin-left: 0px;">В работе</p>
      <p style="margin-left: 0px; color: green">Исполнено</p>
      <p style="width: 300px;">&nbsp</p>
      <p style="width: 300px;">&nbsp</p>
      <p style="margin-left: 0px; color: orange">В работе</p>
      <p style="margin-left: 0px; color: red">Просрочено</p>
    </td>
  </tr>
</table>
