<table style="font-weight: bold; width: 100%;">
  <tr>
    <td></td>
    <td>Ответственный</td>
    <td>Срок</td>
    <td>Исполнение</td>
  </tr>
  <tr>
    <td>
      <p>Здравоохранение</p>
      <p>Создание единого цифрового контура в здравоохранении на основе ЕГИСЗ</p>
      <p>Создание региональной цифровой платформы ИСЗ</p>
      <p>Поручение: представить документы</p>
      <p>Поручение: подготовить отчеты</p>
      <p>Снижение смертности населения трудоспособного возраста</p>
      <p>Внедрение системы контроля качества медицинской помощи в РБ</p>
      <p>Поручение: дать предложение</p>
      <p>Поручение: подготовить доклад</p>
    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
  </tr>
</table>
