<% html_title 'Экран "Глава региона"'-%>
<div ng-app="OpenProjectLegacy" class="ng-scope">
  <div id="invisible-grid" class="widget-boxes project-overview">
    <div class="grid-block">
      <div style="flex: 0 0 33.3%; max-width: 33.3%;">
        <p style="text-align: center;font-weight: bold;margin: -2px;">Здравоохранение</p>
        <wp-overview-status-diagram chart-data='[{"data":[64,32,15,8],"label":"false"}]'>
        </wp-overview-status-diagram>
      </div>
      <div style="flex: 0 0 33.3%; max-width: 33.3%;">
        <p style="text-align: center;font-weight: bold;margin: -2px;">Образование</p>
        <wp-overview-status-diagram chart-data='[{"data":[45,28,10,14],"label":"false"}]'>
        </wp-overview-status-diagram>
      </div>
      <div style="flex: 0 0 33.3%; max-width: 33.3%;">
        <p style="text-align: center;font-weight: bold;margin: -2px;">Производительность труда</p>
        <wp-overview-status-diagram chart-data='[{"data":[53,25,1,8],"label":"false"}]'>
        </wp-overview-status-diagram>
      </div>
    </div>
    <div>
      <wp-overview-date-diagram chart-labels='["Нет отклонений","Небольшие отклонения","Значительные отклонения","Нет данных"]'>
      </wp-overview-date-diagram>
    </div>
  </div>
</div>
