.mat-tab-group
  margin-bottom: 48px

.opsd-form-input-field
  display: block

.form--text-field-container
  display: block
  flex: 1 1

.form--text-field-container .-wide
  max-width: 500px

.form--text-field-container .-middle
  max-width: 350px

table
  width: 100%
  box-shadow: none

.close-button
  position: absolute
  top: 0.75rem
  right: 0.75rem
  cursor: pointer


.dialog-responsive
  width: 80%

@media only screen and (max-width: 760px)
  .dialog-responsive
    width: 100%



