<div class="work-package--details--long-field work-packages--activity--add-comment hide-when-print">
  <!--<div>-->
    <!--<wp-target [workPackageId]="workPackageId" [workPackage]="workPackage" ></wp-target>-->
  <!--</div>-->

  <div>
    <!--<wp-target-create [workPackage]="workPackage" [wpTargets]="wpTargets" [wpTargetIds]="wpTargetIds">-->
    <!--</wp-target-create>-->

    <div class="wp-relations-create">
      <div class="wp-relations-create-button hide-when-print"
           *ngIf="!showTargetsCreateForm">
        <div class="grid-block">
          <div class="grid-content collapse wp-inline-create-button">
            <a class="wp-inline-create--add-link relation-create"
               #focusAfterSave
               (accessibleClick)="toggleTargetsCreateForm()"
               href
               id="relation--add-relation">
              <op-icon icon-classes="icon icon-add"></op-icon>
              <span [textContent]="text.addNewTarget"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="loading-indicator--location"
           data-indicator-name="relationAddDynamic">
        <div class="v-align wp-relations-create--form"
             *ngIf="showTargetsCreateForm">
          <div class="grid-content medium-7">
            <wp-target-autocomplete
                    [workPackage]="workPackage"
                    (onTargetIdSelected)="updateSelectedId($event)"
                    appendToContainer=".work-packages-tab-view--overflow">
            </wp-target-autocomplete>
            <br/>
            <table>
              <tr>
                <th>Год</th>
                <th>Квартал</th>
                <th>Месяц</th>
                <th>Плановое значение</th>
                <th>Фактическое значение</th>
              </tr>
              <tr>
                <td>
                  <input type="number" step="1" [(ngModel)]="editedTarget.year" />
                  <!--<select name="year" [(ngModel)]="editedTarget.year">-->
                    <!--<ng-template [ngTemplateOutlet]="year"></ng-template>-->
                  <!--</select>-->
                </td>
                <td>
                  <select name="quarter" [(ngModel)]="editedTarget.quarter">
                    <option value="" selected="selected"></option>
                    <ng-template [ngTemplateOutlet]="quarters">
                    </ng-template>
                  </select>
                </td>
                <td>
                  <select name="month" [(ngModel)]="editedTarget.month">
                    <option value="" selected="selected"></option>
                    <ng-template [ngTemplateOutlet]="loadTemplateMonth(editedTarget.quarter)">
                    </ng-template>
                  </select>
                </td>
                <td>
                  <input type="text" name="plan_value" [(ngModel)]="editedTarget.plan_value"/>
                </td>
                <td>
                  <input type="text" name="value" [(ngModel)]="editedTarget.value"/>
                </td>
              </tr>
            </table>
          </div>
          <div class="grid-content medium-2 collapse wp-relations-controls-section relation-row">
            <accessible-by-keyboard
                    (execute)="createTarget()"
                    [isDisabled]="isDisabled || !selectedTgId"
                    linkClass="wp-create-relation--save"
                    aria-hidden="false">
              <op-icon icon-classes="icon-checkmark -padded" [icon-title]="text.save"></op-icon>
            </accessible-by-keyboard>
            <accessible-by-keyboard
                    (execute)="toggleTargetsCreateForm()"
                    linkClass="wp-create-relation--cancel"
                    aria-hidden="false">
              <op-icon icon-classes="icon-remove -padded" [icon-title]="text.abort"></op-icon>
            </accessible-by-keyboard>
          </div>
        </div>
      </div>
    </div>


    <div>
      <style type="text/css">
        table { width: 100%; }
        td.colA { width: 20%; height: 20px; }
        td.colB { width: 25%; }
        th.colA { width: 20%; }
      </style>
      <ul *ngFor="let targetId of wpTargetIds">
        <li>
          <div>
            <h4>#{{ targetId }} - {{ getTargetFromArr(targetId).name }}</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="colA">Год</th>
                  <th class="colA">Квартал</th>
                  <th class="colA">Месяц</th>
                  <th class="colA">Плановое значение</th>
                  <th class="colA">Фактическое значение</th>
                  <th></th>
                </tr>
              </thead>
            </table>
            <table *ngFor="let value of wpTargets" style="border: 1px;">
              <tbody>
                <tr *ngIf="value.target_id === targetId">
                  <ng-template [ngTemplateOutlet]="loadTemplate(value)"
                                 [ngTemplateOutletContext]="{ $implicit: value }">
                  </ng-template>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>

    </div>
  </div>


</div>



<ng-template #editTemplate2>
    <td class="colA">
      <input type="number" step="1" [(ngModel)]="editedTarget.year" />
    </td>
    <td class="colA">
        <select name="quarter" [(ngModel)]="editedTarget.quarter">
            <option value="" selected="selected"></option>
            <ng-template [ngTemplateOutlet]="changeQuarter()">
            </ng-template>
        </select>

    </td>
    <td class="colA">
        <select name="month" [(ngModel)]="editedTarget.month">
            <option value="" selected="selected"></option>
            <ng-template [ngTemplateOutlet]="loadTemplateMonth(editedTarget.quarter)">
            </ng-template>
        </select>
    </td>
    <td class="colA">
        <input [(ngModel)]="editedTarget.plan_value" />
    </td>
    <td class="colA">
        <input [(ngModel)]="editedTarget.value" />
    </td>
    <td>
      <accessible-by-keyboard
              (execute)="saveWpTarget(editedTarget)"
              linkClass="wp-create-relation--save"
              aria-hidden="false">
        <op-icon icon-classes="icon-checkmark -padded" [icon-title]="text.save"></op-icon>
      </accessible-by-keyboard>
      <accessible-by-keyboard
              (execute)="cancelEdit()"
              linkClass="wp-create-relation--cancel"
              aria-hidden="false">
        <op-icon icon-classes="icon-remove -padded" [icon-title]="text.abort"></op-icon>
      </accessible-by-keyboard>
    </td>
</ng-template>


<ng-template #readOnlyTemplate2 let-value>
    <td class="colA">{{ value.year }}</td>
    <td class="colA">{{ value.quarter }}</td>
    <td class="colA">{{ value.month }}</td>
    <td class="colA">{{ value.plan_value }}</td>
    <td class="colA">{{ value.value }}</td>
    <td>
      <accessible-by-keyboard *ngIf="targetCanEdit"
                              (execute)="editTarget(value)"
                              [linkTitle]="text.edit"
                              class="edit-activity">
        <op-icon icon-classes="action-icon icon-edit" [icon-title]="text.edit"></op-icon>
      </accessible-by-keyboard>

      <accessible-by-keyboard (execute)="deleteTarget(value)"
                              aria-hidden="false"
                              [linkAriaLabel]="text.removeButton"
                              [linkTitle]="text.removeButton"
                              linkClass="relation-row--remove-btn">
        <op-icon icon-classes="icon-remove -padded wp-relations--icon" [icon-title]="text.removeButton"></op-icon>
      </accessible-by-keyboard>
    </td>
</ng-template>

<!--<ng-template #years>-->
<!--</ng-template>-->

<ng-template #quarters>
    <option value="1">1-й квартал</option>
    <option value="2">2-й квартал</option>
    <option value="3">3-й квартал</option>
    <option value="4">4-й квартал</option>
</ng-template>

<ng-template #monthOfQuarter1>
    <option value="1">Январь</option>
    <option value="2">Февраль</option>
    <option value="3">Март</option>
</ng-template>

<ng-template #monthOfQuarter2>
    <option value="4">Апрель</option>
    <option value="5">Май</option>
    <option value="6">Июнь</option>
</ng-template>

<ng-template #monthOfQuarter3>
    <option value="7">Июль</option>
    <option value="8">Август</option>
    <option value="9">Сентябрь</option>
</ng-template>

<ng-template #monthOfQuarter4>
    <option value="10">Октябрь</option>
    <option value="11">Ноябрь</option>
    <option value="12">Декабрь</option>
</ng-template>
