<!--<div class="work-packages&#45;&#45;status-selector wp-new-top-row&#45;&#45;element">-->
<div class="work-package--details--long-field work-packages--activity--add-comment hide-when-print">
  <label>Целевой показатель:</label>
  <wp-edit-field [workPackageId]="workPackageId"
                 [displayFieldOptions]="{ colorize: false }"
                 [wrapperClasses]="'wp-new-top-row--status'"
                 [fieldName]="'target'">
  </wp-edit-field>

  <div>
    <wp-target [workPackageId]="workPackageId" [workPackage]="workPackage" ></wp-target>
  </div>

</div>

