<%#-- copyright
# This file written by BBM
# 29/04/2019
++#%>

<%#
  needs locals:
  f: labelled form builder
%>

<%= error_messages_for :risk_charact %>
<section class="form--section">
  <%= f.hidden_field 'type' %>
  <div class="form--field"><%= f.text_field 'name', required: true, container_class: '-middle' %></div>
  <div class="form--field"><%= f.text_field 'description', container_class: '-middle' %></div>
</section>
