<% html_title l(:label_administration), l(:label_municipalities) %>
<%= toolbar title: l(:label_municipalities)%>
<!--new version of this by knm-->






<!--old version of this-->
<%# if @organization_parent != nil %>
<!--  <div class="form--field">-->
    <%#= l(:label_organization_parent )  %>
    <%#= ':' %>
    <%#= @organization_parent %>
<!--  </div>-->
<%# end %>
<%#= cell ::Organizations::TableCell, Organization.where(org_type: @municipalities.id)%>
