<% active_sections = if @user.mail_notification == 'selected'
                       [{key: 'notified_projects'}]
                     else
                       []
                     end %>

<%= initialize_hide_sections_with [{key: 'notified_projects'}],  active_sections %>


<%= activate_angular_js do %>
  <div class="form--field" >
    <%= styled_label_tag 'pop_up_delay', t(:'user.settings.pop_up_delay') %>
    <div class="form--field-container">
      <div class="form--select-container" >
        <show-section-dropdown opt-value="selected" hide-sec-with-name="notified_projects">
          <%= styled_select_tag 'user[pop_up_delay]',
                                options_for_select([["10 минут",10],["30 минут",30],["1 час",60]]),
                                container_class: '-wide' %>
        </show-section-dropdown>
      </div>
    </div>
  </div>
<% end %>
