<% html_title 'Экран "Глава региона"'-%>
<div ng-app="OpenProjectLegacy" class="ng-scope">
  <div id="invisible-grid" class="widget-boxes project-overview">
    <div class="grid-block">
      <div style="flex: 0 0 30%; max-width: 30%;">
        <p>Здравоохранение</p>
        <wp-overview-status-diagram chart-data='[{"data":[5,1,2,4],"label":"Исполнено"}]'>
        </wp-overview-status-diagram>
      </div>
      <div style="flex: 0 0 30%; max-width: 30%;">
        <p>Образование</p>
        <wp-overview-status-diagram chart-data='[{"data":[5,1,2,4],"label":"Исполнено"}]'>
        </wp-overview-status-diagram>
      </div>
      <div style="flex: 0 0 30%; max-width: 30%;">
        <p>Производительность труда</p>
        <wp-overview-status-diagram chart-data='[{"data":[5,1,2,4],"label":"Исполнено"}]'>
        </wp-overview-status-diagram>
      </div>
      <div style="text-align: center; width: 10%; background-color: red; color: white;">
        <p>Проблем</p>
        <p>20</p>
      </div>
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, assumenda at consequuntur delectus dolore doloribus ea facere fugiat laudantium, minima molestias nesciunt non odit porro praesentium repellat sit sunt voluptate.
    </div>
  </div>
</div>



