<% html_title 'Экран "Глава региона"'-%>
<div ng-app="OpenProjectLegacy" class="ng-scope">
  <div id="invisible-grid" class="widget-boxes project-overview">
    <div class="grid-block">
      <div style="flex: 0 0 30%; max-width: 30%;">
        <p style="text-align: center;font-weight: bold;">Здравоохранение</p>
        <wp-overview-status-diagram chart-data='[{"data":[64,32,15,8],"label":"Исполнено"}]'>
        </wp-overview-status-diagram>
      </div>
      <div style="flex: 0 0 30%; max-width: 30%;">
        <p style="text-align: center;font-weight: bold;">Образование</p>
        <wp-overview-status-diagram chart-data='[{"data":[45,28,10,14],"label":"Исполнено"}]'>
        </wp-overview-status-diagram>
      </div>
      <div style="flex: 0 0 30%; max-width: 30%;">
        <p style="text-align: center;font-weight: bold;">Производительность труда</p>
        <wp-overview-status-diagram chart-data='[{"data":[53,25,1,8],"label":"Исполнено"}]'>
        </wp-overview-status-diagram>
      </div>
      <div style="text-align: center; width: 10%; background-color: #c0504d;">
        <p style="font-weight: bold; color: white; position:relative; top:40%">Проблем<br>20</p>
      </div>
    </div>
    <div>
      <!--%= render partial: "homescreen/form/main"%-->


      <div class="row">
        <table class="fckdup" border="2" bordercolor="black" bgcolor="#b0c4de" >
          <thead>
          <tr>
            <td><b>Республика Бурятия</b></td>
            <td><b>Куратор</b></td>
            <td><b>РП</b></td>
            <td><b>План срок завершения</b></td>
            <td><b>Предстоящие мероприятия</b></td>
            <td><b>Просроченные мероприятия</b></td>
            <td><b>Проблемы</b></td>
            <td><b>Прогресс</b></td>
            <td><b>Исполнение бюджета</b></td>
            <td><b>KPI</b></td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><b>Здравоохранение</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Создание единого цифрового контура в здравоохранении на основе ЕГИСЗ</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Создание региональный цифровой платформы ИСЗ</td>
            <td>Цыбикжапов В.Б.</td>
            <td>Самбуев Д.Ц.</td>
            <td>01.08.2020</td>
            <td>10</td>
            <td>8</td>
            <td>3</td>
            <td><progress value="70" max="100"></progress></td>
            <td><progress value="92" max="100"></progress></td>
            <td>Посмотреть</td>
          </tr>
          <tr>
            <td>Снижение смертности населения трудоспособного возраста</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Внедрение системы контроля качества медицинской помощи в РБ</td>
            <td>Цыбикжапов В.Д.</td>
            <td>Самбуев Д.Ц.</td>
            <td>31.12.2020</td>
            <td>16</td>
            <td>4</td>
            <td>0</td>
            <td><progress value="54" max="100"></progress></td>
            <td><progress value="70" max="100"></progress></td>
            <td>Посмотреть</td>
          </tr>
          <tr>
            <td><b>Образование</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Современная школа</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Современная школа в РБ</td>
            <td>Цыбикжапов В.Б.</td>
            <td>Жалсанов Б.Б.</td>
            <td>31.12.2019</td>
            <td>8</td>
            <td>15</td>
            <td>7</td>
            <td><progress value="70" max="100"></progress></td>
            <td><progress value="70" max="100"></progress></td>
            <td>Посмотреть</td>
          </tr>
          <tr>
            <td>Строительство школы в Кижингинском районе</td>
            <td>Цыбикжапов В.Б.</td>
            <td>Лхасаранов Г.З.</td>
            <td>20.12.2019</td>
            <td>5</td>
            <td>7</td>
            <td>0</td>
            <td><progress value="92" max="100"></progress></td>
            <td><progress value="92" max="100"></progress></td>
            <td>Посмотреть</td>
          </tr>
          <tr>
            <td>Переоснащение школы №17 в г.Улан-Удэ</td>
            <td>Цыбикжапов В.Б.</td>
            <td>Шутенков И.Ю.</td>
            <td>30.11.2019</td>
            <td>4</td>
            <td>1</td>
            <td>2</td>
            <td><progress value="54" max="100"></progress></td>
            <td><progress value="70" max="100"></progress></td>
            <td>Посмотреть</td>
          </tr>
          <tr>
            <td><b>Производительность труда</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><b>Вне нацпроектов</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Зураев И.И.</td>
            <td>Цыбикжапов В.Б.</td>
            <td>Оловянников А.А.</td>
            <td>31.12.2021</td>
            <td>11</td>
            <td>15</td>
            <td>8</td>
            <td><progress value="18" max="100"></progress></td>
            <td><progress value="18" max="100"></progress></td>
            <td>Посмотреть</td>
          </tr>
          <tr align="center">
            <td colspan="2"><b>Предстоящие мероприятия:</b></td>
            <td colspan="3"><b>Просроченные мероприятия:</b></td>
            <td colspan="3"><b>Проблемы:</b></td>
            <td colspan="2"><b>Бюджет:</b></td>
          </tr>
          <tr>
            <td colspan="2">
              <ol>
                <li>Подготовка конкурсной документации</li>
                <li>Разработка ТТ</li>
                <li>Подготовка аналитического отчета</li>
                <li>Установка ПАК</li>
                <li>Проведение обучение</li>
              </ol>
            </td>
            <td colspan="3">
              <ol>
                <li>Разработка инф</li>
                <li>Подготовка заявления</li>
              </ol>
            </td>
            <td colspan="3">
              <ol>
                <li>Задержка поо</li>
                <li>Не представлен</li>
                <li>Не согласован</li>
              </ol>
            </td>
            <td colspan="2">
              <ol>
                <li>Современная школ</li>
                <li>Создание региональ</li>
                <li>Внедрение системы</li>
              </ol>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <table>
          <thead>

          </thead>
          <tbody>

          </tbody>
        </table>
      </div>

      <style>
        .no-border {
          border: none;
        }
      </style>

    </div>
  </div>
</div>



