<% html_title 'Экран "Глава региона"'-%>
<div ng-app="OpenProjectLegacy" class="ng-scope">
  <div id="invisible-grid" class="widget-boxes project-overview">
    <div class="grid-block">
      <div style="flex: 0 0 30%; max-width: 30%;">
        <p style="text-align: center;font-weight: bold;margin: -2px;">Здравоохранение</p>
        <wp-overview-status-diagram chart-data='[{"data":[64,32,15,8],"label":"false"}]'>
        </wp-overview-status-diagram>
      </div>
      <div style="flex: 0 0 30%; max-width: 30%;">
        <p style="text-align: center;font-weight: bold;margin: -2px;">Образование</p>
        <wp-overview-status-diagram chart-data='[{"data":[45,28,10,14],"label":"false"}]'>
        </wp-overview-status-diagram>
      </div>
      <div style="flex: 0 0 30%; max-width: 30%;">
        <p style="text-align: center;font-weight: bold;margin: -2px;">Производительность труда</p>
        <wp-overview-status-diagram chart-data='[{"data":[53,25,1,8],"label":"false"}]'>
        </wp-overview-status-diagram>
      </div>
      <div style="text-align: center; width: 10%; background-color: #c0504d;">
        <p style="font-weight: bold; color: white; position:relative; top:40%">Проблем<br>20</p>
      </div>
    </div>
    <div>
      <wp-overview-date-diagram chart-labels='["Решено","Предстоящие в 2 недели","Не исполнено","Проблем"]'>
      </wp-overview-date-diagram>
    </div>


    </div>
  <div style="display: block;" id="tab1">
  <table class="blueTable">
    <thead>
    <tr>
      <th><b>Проект</b></th>
      <th><b>Куратор/<br>РП</b></th>
      <th id="c40"><b>План срок завершения</b></th>
      <th id="c40"><b>Предстоящие мероприятия<br></b></th>
      <th id="c40"><b>Просроченные мероприятия/<br>Проблемы</b></th>
      <th id="c40"><b>Прогресс<br>Исполнение бюджета</b></th>
      <th><b>KPI</b></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td colspan="7">
        <div class="links"><a href="#">&laquo;</a>
          <a class="chtbl" href="#">1</a>
          <a class="chtbl" href="#">2</a>
          <a class="chtbl" href="#">3</a>
          <a class="chtbl" href="#">4</a>
          <a class="links" href="#">&raquo;</a>
        </div>
      </td>
    </tr>
    </tfoot>
    <tbody>
    <tr>
      <td style="padding-left: 10px"><b>Здравоохранение</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td style="padding-left: 20px">Создание единого цифрового контура в здравоохранении на основе ЕГИСЗ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="colored-row">
      <td style="padding-left: 30px"><a>Создание региональный цифровой платформы ИСЗ</a></td>
      <td>Цыбикжапов В.Б.<br>Самбуев Д.Ц.</td>
      <td>01.08.2020</td>
      <td><a href="/admin/typed_risks">10</a></td>
      <td><a href="/admin/typed_risks">8 </a>/<a href="/org_settings"> 3</a></td>
      <td>

        <div class="border-progress">
          <div class="progress" data-label="70%">
              <span class="value" style="width:70%; background-color: #88ee88;">
              </span>
          </div>
        </div>
        <br>
        <div class="border-progress">
          <div class="progress" data-label="92%">
              <span class="value" style="width:92%; background-color: #88ee88;">
              </span>
          </div>
        </div>
      </td>
      <td><a href="/admin/enumerations">Посмотреть</a></td>
    </tr>
    <tr>
      <td style="padding-left: 20px">Снижение смертности населения трудоспособного возраста</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="colored-row">
      <td style="padding-left: 30px"><a>Внедрение системы контроля качества медицинской помощи в РБ</a></td>
      <td>Цыбикжапов В.Д.<br>Самбуев Д.Ц.</td>
      <td>31.12.2020</td>
      <td><a href="/admin/typed_risks">16</a></td>
      <td><a href="/admin/typed_risks">4 </a>/<a href="/org_settings"> 0</a></td>
      <td>
        <div class="border-progress">
          <div class="progress" data-label="54%">
              <span class="value" style="width:54%; background-color: #eeee88;">
              </span>
          </div>
        </div>
        <br>
        <div class="border-progress">
          <div class="progress" data-label="70%">
              <span class="value" style="width:70%; background-color: #88ee88;">
              </span>
          </div>
        </div>
      </td>
      <td><a href="/admin/enumerations">Посмотреть</a></td>
    </tr>

    </tbody>
  </table>
  </div>
  <div style="display: none;" id="tab2">
    <table class="blueTable">
      <thead>
      <tr>
        <th><b>Проект</b></th>
        <th><b>Куратор/<br>РП</b></th>
        <th id="c40"><b>План срок завершения</b></th>
        <th id="c40"><b>Предстоящие мероприятия<br></b></th>
        <th id="c40"><b>Просроченные мероприятия/<br>Проблемы</b></th>
        <th id="c40"><b>Прогресс<br>Исполнение бюджета</b></th>
        <th><b>KPI</b></th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <td colspan="7">
          <div class="links"><a href="#">&laquo;</a>
            <a class="chtbl" href="#">1</a>
            <a class="chtbl" href="#">2</a>
            <a class="chtbl" href="#">3</a>
            <a class="chtbl" href="#">4</a>
            <a class="chtbl" href="#">&raquo;
            </a>
          </div>
        </td>
      </tr>
      </tfoot>
      <tbody>
      <tr>
        <td style="padding-left: 10px"><b>Образование</b></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td style="padding-left: 20px">Современная школа</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr id="colored-row">
        <td style="padding-left: 30px"><a>Современная школа в РБ</a></td>
        <td>Цыбикжапов В.Б.<br>Жалсанов Б.Б.</td>
        <td>31.12.2019</td>
        <td><a href="/admin/typed_risks">8</a></td>
        <td><a href="/admin/typed_risks">15 </a>/<a href="/org_settings"> 7</a></td>
        <td>
          <div class="border-progress">
            <div class="progress" data-label="70%">
              <span class="value" style="width:70%; background-color: #88ee88;">
              </span>
            </div>
          </div>
          <br>
          <div class="border-progress">
            <div class="progress" data-label="70%">
              <span class="value" style="width:70%; background-color: #88ee88;">
              </span>
            </div>
          </div>
        </td>
        <td ><a href="/admin/enumerations">Посмотреть</a></td>
      </tr>
      <tr id="colored-row">
        <td style="padding-left: 40px"><a>Строительство школы в Кижингинском районе</a></td>
        <td>Цыбикжапов В.Б.<br>Лхасаранов Г.З.</td>
        <td>20.12.2019</td>
        <td><a href="/admin/typed_risks">5</a></td>
        <td><a href="/admin/typed_risks">7 </a>/<a href="/org_settings"> 0</a></td>
        <td>
          <div class="border-progress">
            <div class="progress" data-label="92%">
              <span class="value" style="width:92%; background-color: #88ee88;">
              </span>
            </div>
          </div>
          <br>
          <div class="border-progress">
            <div class="progress" data-label="92%">
              <span class="value" style="width:92%; background-color: #88ee88;">
              </span>
            </div>
          </div>
        </td>
        <td><a href="/admin/enumerations">Посмотреть</a></td>
      </tr>
      <tr id="colored-row">
        <td style="padding-left: 40px"><a>Переоснащение школы №17 в г.Улан-Удэ</a></td>
        <td>Цыбикжапов В.Б.<br>Шутенков И.Ю.</td>
        <td>30.11.2019</td>
        <td><a href="/admin/typed_risks">4</a></td>
        <td><a href="/admin/typed_risks">1 </a>/<a href="/org_settings"> 2</a></td>
        <td>
          <div class="border-progress">
            <div class="progress" data-label="54%">
              <span class="value" style="width:54%; background-color: #eeee88;">
              </span>
            </div>
          </div>
          <br>
          <div class="border-progress">
            <div class="progress" data-label="70%">
              <span class="value" style="width:70%; background-color: #88ee88;">
              </span>
            </div>
          </div>
        </td>
        <td><a href="/admin/enumerations">Посмотреть</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div style="display: none;" id="tab3">
    <table class="blueTable">
      <thead>
      <tr>
        <th><b>Проект</b></th>
        <th><b>Куратор/<br>РП</b></th>
        <th id="c40"><b>План срок завершения</b></th>
        <th id="c40"><b>Предстоящие мероприятия<br></b></th>
        <th id="c40"><b>Просроченные мероприятия/<br>Проблемы</b></th>
        <th id="c40"><b>Прогресс<br>Исполнение бюджета</b></th>
        <th><b>KPI</b></th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <td colspan="7">
          <div class="links"><a href="#">&laquo;</a>
            <a class="chtbl" href="#">1</a>
            <a class="chtbl" href="#">2</a>
            <a class="chtbl" href="#">3</a>
            <a class="chtbl" href="#">4</a>
            <a class="chtbl" href="#">&raquo;
            </a>
          </div>
        </td>
      </tr>
      </tfoot>
      <tbody>
      <tr>
        <td style="padding-left: 10px"><b>Производительность труда</b></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td style="padding-left: 10px"><b>Проекты Республики Бурятия</b></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr id="colored-row">
        <td style="padding-left: 30px"><a>Создание технопарка</a></td>
        <td>Зураев И.И.<br>Оловянников А.А.</td>
        <td>31.12.2021</td>
        <td><a href="/admin/typed_risks">11</a></td>
        <td><a href="/admin/typed_risks">15 </a>/<a href="/org_settings"> 8</a></td>
        <td>
          <div class="border-progress">
            <div class="progress" data-label="18%">
              <span class="value" style="width:18%; background-color: #ee8888;">
              </span>
            </div>
          </div>
          <br>
          <div class="border-progress">
            <div class="progress" data-label="18%">
              <span class="value" style="width:18%; background-color: #ee8888;">
              </span>
            </div>
          </div>
        </td>
        <td><a href="/admin/enumerations">Посмотреть</a></td>
      </tr>

      </tbody>
    </table>
  </div>



  <table class="blueTable" border="0" >
    <thead>
    <tr>
      <th id="colored-col-green" colspan="3">Предстоящие мероприятия:</th>
      <th id="colored-col-red" colspan="3">Просроченные КТ</th>
      <th id="colored-col-orange" colspan="3">Проблемы:</th>
      <th id="colored-col-purple" colspan="2">Бюджет:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td id="colored-col-bright-green">1</td>
      <td id="colored-col-bright-green">Подготовка конкурсной документации</td>
      <td id="colored-col-bright-green">Строительство школы</td>
      <td id="colored-col-bright-red">1</td>
      <td id="colored-col-bright-red">Разработка информационного портала</td>
      <td id="colored-col-bright-red">Современная школа</td>
      <td id="colored-col-bright-orange">1</td>
      <td id="colored-col-bright-orange">Задержка поставки оборудования</td>
      <td id="colored-col-bright-orange">ООО "Комп"</td>
      <td id="colored-col-bright-purple">Современная школа в РБ</td>
      <td id="colored-col-bright-purple">700/1500</td>
    </tr>
    <tr>
      <td id="colored-col-green">2</td>
      <td id="colored-col-green">Разработка ТТ</td>
      <td id="colored-col-green">Создание технопарка</td>
      <td id="colored-col-red">2</td>
      <td id="colored-col-red">Подготовка заявки на финансирование</td>
      <td id="colored-col-red">Создание региональной цифровой платформы</td>
      <td id="colored-col-orange">2</td>
      <td id="colored-col-orange">Не представлен техпаспорт</td>
      <td id="colored-col-orange">ГКУ ХТК</td>
      <td id="colored-col-purple">Создание региональной цифровой платформы в РБ</td>
      <td id="colored-col-purple">580/2400</td>
    </tr>
    <tr>
      <td id="colored-col-bright-green">3</td>
      <td id="colored-col-bright-green">Подготовка аналитического отчета</td>
      <td id="colored-col-bright-green">Внедрение системы</td>
      <td id="colored-col-bright-red"></td>
      <td id="colored-col-bright-red"></td>
      <td id="colored-col-bright-red"></td>
      <td id="colored-col-bright-orange">3</td>
      <td id="colored-col-bright-orange">Нет согласования юристов</td>
      <td id="colored-col-bright-orange">ЮО</td>
      <td id="colored-col-bright-purple">Внедрение системы контроля качества</td>
      <td id="colored-col-bright-purple">1100/1200</td>
    </tr>
    <tr>
      <td id="colored-col-green">4</td>
      <td id="colored-col-green">Установка ПАК</td>
      <td id="colored-col-green">Современная школа</td>
      <td id="colored-col-red"></td>
      <td id="colored-col-red"></td>
      <td id="colored-col-red"></td>
      <td id="colored-col-orange"></td>
      <td id="colored-col-orange"></td>
      <td id="colored-col-orange"></td>
      <td id="colored-col-purple"></td>
      <td id="colored-col-purple"></td>
    </tr>
    <tr>
      <td id="colored-col-bright-green">5</td>
      <td id="colored-col-bright-green">Проведение обучения</td>
      <td id="colored-col-bright-green">Современная школа</td>
      <td id="colored-col-bright-red"></td>
      <td id="colored-col-bright-red"></td>
      <td id="colored-col-bright-red"></td>
      <td id="colored-col-bright-orange"></td>
      <td id="colored-col-bright-orange"></td>
      <td id="colored-col-bright-orange"></td>
      <td id="colored-col-bright-purple"></td>
      <td id="colored-col-bright-purple"></td>
    </tr>
    <tr>
      <td id="colored-col-green"></td>
      <td id="colored-col-green"></td>
      <td id="colored-col-green"></td>
      <td id="colored-col-red"></td>
      <td id="colored-col-red"></td>
      <td id="colored-col-red"></td>
      <td id="colored-col-orange"></td>
      <td id="colored-col-orange"></td>
      <td id="colored-col-orange"></td>
      <td id="colored-col-purple"></td>
      <td id="colored-col-purple"></td>
    </tr>
    <tr>
      <td id="colored-col-green"></td>
      <td id="colored-col-green"></td>
      <td id="colored-col-green"></td>
      <td id="colored-col-red"></td>
      <td id="colored-col-red"></td>
      <td id="colored-col-red"></td>
      <td id="colored-col-orange"></td>
      <td id="colored-col-orange"></td>
      <td id="colored-col-orange"></td>
      <td id="colored-col-purple"></td>
      <td id="colored-col-purple"></td>
    </tr>
    <tr>
      <td id="colored-col-green"></td>
      <td id="colored-col-green"></td>
      <td id="colored-col-green"></td>
      <td id="colored-col-red"></td>
      <td id="colored-col-red"></td>
      <td id="colored-col-red"></td>
      <td id="colored-col-orange"></td>
      <td id="colored-col-orange"></td>
      <td id="colored-col-orange"></td>
      <td id="colored-col-purple"></td>
      <td id="colored-col-purple"></td>
    </tr>

    </tbody>
  </table>
  <style>


    .progress {
      height: 1em;
      width: 100%;
      background-color: #ffffff;
      border-radius: 10px;
      position: relative;
    }
    .progress:before {
      content: attr(data-label);
      font-size: 0.8em;
      position: absolute;
      text-align: center;
      border-radius: 10px;
      top: 1px;
      left: 0;
      right: 0;
    }
    .progress .value {
      background-color: #7cc4ff;
      display: block;
      border-radius: 10px;
      height: 100%;
    }
    .border-progress{
      background-color: #CCCCCC;
      padding: 1px;
      width: 100px;
      margin: auto;
      z-index: 1;
      border-radius: 10px;
    }
    @media only screen and (max-width: 1024px){
      table
      {
        font-size: 14px;

      }
      ol{
        font-size: 14px;
      }
      .row-white
      {
        font-size: 14px;
      }
      .first-header
      {
        font-size: 14px;
      }
      .second-header
      {
        font-size: 14px;
      }
      .third-header
      {
        font-size: 14px;
      }
      .fourth-header{
        font-size: 14px;
      }
      .fifth-header
      {
        font-size: 10px;
      }
      .border-progress{
        width: 50px;
        height: 10px;
      }
      .progress:before{
        font-size: 0.6em;
      }
      .progress
      {
        height: 0.7em;
      }

    }
    table.blueTable {
      border: 1px solid #1A67A3;
      background-color: #EAEAEA;
      width: 98%;
      text-align: left;
      margin-left: 10px;
      margin-right: 10px;
    }
    table.blueTable td, table.blueTable th {
      border: 1px solid #CCCCCC;
      padding: 3px 3px;
    }
    table.blueTable tbody td {
      font-size: 12px;
      color: #333333;
    }

    #colored-row{
      background: #D0E4F5;
    }
    #colored-col-bright-green{
      background: #D8F6D8;
      border: none;
      color: #000000;
      border-right: 1px;
      border-left: 1px;
    }
    #colored-col-bright-red{
      background: #F6D8D8;
      color: #000000;
      border: none;
      border-right: 1px;
      border-left: 1px;
    }
    #colored-col-bright-orange{
      background: #FFEAD7;
      color: #000000;
      border: none;
      border-right: 1px;
      border-left: 1px;
    }
    #colored-col-bright-purple{
      background: #F6D8F6;
      color: #000000;
      border: none;
      border-right: 1px;
      border-left: 1px;
    }
    #colored-col-green{
      background: #bbeebb;
      border: none;
      color: #000000;
      border-right: 1px;
      border-left: 1px;
    }
    #colored-col-red{
      background: #eebbbb;
      color: #000000;
      border: none;
      border-right: 1px;
      border-left: 1px;
    }
    #colored-col-orange{
      background: #ffdab9;
      color: #000000;
      border: none;
      border-right: 1px;
      border-left: 1px;
    }
    #colored-col-purple{
      background: #eebbee;
      color: #000000;
      border: none;
      border-right: 1px;
      border-left: 1px;
    }
    table.blueTable thead {
      background: #1A67A3;
      background: -moz-linear-gradient(top, #538dba 0%, #3176ac 66%, #1A67A3 100%);
      background: -webkit-linear-gradient(top, #538dba 0%, #3176ac 66%, #1A67A3 100%);
      background: linear-gradient(to bottom, #538dba 0%, #3176ac 66%, #1A67A3 100%);
      border-bottom: 0px solid #878787;
    }
    table.blueTable thead th {
      font-size: 13px;
      font-weight: 100;
      color: #FFFFFF;
      border-left: 2px solid #D0E4F5;
    }
    #c40{
      width: 40px;
    }

    table.blueTable thead th:first-child {
      border-left: none;
    }

    table.blueTable tfoot {
      font-size: 12px;
      font-weight: 100;
      color: #FFFFFF;
      background: #D0E4F5;
      background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
      background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
      background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    }
    table.blueTable tfoot td {
      font-size: 12px;
    }
    table.blueTable tfoot .links {
      text-align: right;
    }
    table.blueTable tfoot .links a{
      display: inline-block;
      background: #1C6EA4;
      color: #FFFFFF;
      padding: 2px 8px;
      border-radius: 5px;
    }
    .table_block {
      border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-khtml-border-radius:10px;
      border:1px solid #000;
      display: block;}​
  </style>
 </div>
</div>




