<% html_title 'Экран "Глава региона"'-%>
<div ng-app="OpenProjectLegacy" class="ng-scope">
  <div id="invisible-grid" class="widget-boxes project-overview">
    <div class="grid-block">
      <div style="flex: 0 0 30%; max-width: 30%;">
        <p style="text-align: center;font-weight: bold;">Здравоохранение</p>
        <wp-overview-status-diagram chart-data='[{"data":[64,32,15,8],"label":"Исполнено"}]'>
        </wp-overview-status-diagram>
      </div>
      <div style="flex: 0 0 30%; max-width: 30%;">
        <p style="text-align: center;font-weight: bold;">Образование</p>
        <wp-overview-status-diagram chart-data='[{"data":[45,28,10,14],"label":"Исполнено"}]'>
        </wp-overview-status-diagram>
      </div>
      <div style="flex: 0 0 30%; max-width: 30%;">
        <p style="text-align: center;font-weight: bold;">Производительность труда</p>
        <wp-overview-status-diagram chart-data='[{"data":[53,25,1,8],"label":"Исполнено"}]'>
        </wp-overview-status-diagram>
      </div>
      <div style="text-align: center; width: 10%; background-color: #c0504d;">
        <p style="font-weight: bold; color: white; position:relative; top:40%">Проблем<br>20</p>
      </div>
    </div>
    <div class="scrollable-div">
      <!--%= render partial: "homescreen/form/main"%-->


      <table class="fckdup" border="2" bordercolor="black" bgcolor="#b0c4de" >
        <thead>
        <tr>
          <td class="first-header" ><b>Республика Бурятия</b></td>
          <th><b>Куратор</b></th>
          <th><b>РП</b></th>
          <th><b>План срок завершения</b></th>
          <th><b>Предстоящие мероприятия</b></th>
          <th><b>Просроченные мероприятия</b></th>
          <th><b>Проблемы</b></th>
          <th><b>Прогресс</b></th>
          <th><b>Исполнение бюджета</b></th>
          <th><b>KPI</b></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="second-header"><b>Здравоохранение</b></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="third-header">Создание единого цифрового контура в здравоохранении на основе ЕГИСЗ</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="fourth-header"><a>Создание региональный цифровой платформы ИСЗ</a></td>
          <td>Цыбикжапов В.Б.</td>
          <td>Самбуев Д.Ц.</td>
          <td>01.08.2020</td>
          <td><a>10</a></td>
          <td><a>8</a></td>
          <td><a>3</a></td>
          <td><div class="border-progress"><div class="progressbar70">
            <div align="center">70%</div>
          </div></div></td>
          <td><div class="border-progress"><div class="progressbar92">
            <div align="center">92%</div>
          </div></div></td>
          <td><a>Посмотреть</a></td>
        </tr>
        <tr>
          <td class="third-header">Снижение смертности населения трудоспособного возраста</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="fourth-header"><a>Внедрение системы контроля качества медицинской помощи в РБ</a></td>
          <td>Цыбикжапов В.Д.</td>
          <td>Самбуев Д.Ц.</td>
          <td>31.12.2020</td>
          <td><a>16</a></td>
          <td><a>4</a></td>
          <td><a>0</a></td>
          <td><div class="border-progress"><div class="progressbar54">
            <div align="center">54%</div>
          </div></div></td>
          <td><div class="border-progress"><div class="progressbar70">
            <div align="center">70%</div>
          </div></div></td>
          <td><a>Посмотреть</a></td>
        </tr>
        <tr>
          <td class="second-header"><b>Образование</b></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="third-header">Современная школа</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="fourth-header"><a>Современная школа в РБ</a></td>
          <td>Цыбикжапов В.Б.</td>
          <td>Жалсанов Б.Б.</td>
          <td>31.12.2019</td>
          <td><a>8</a></td>
          <td><a>15</a></td>
          <td><a>7</a></td>
          <td><div class="border-progress"><div class="progressbar70">
            <div align="center">70%</div>
          </div></div></td>
          <td><div class="border-progress"><div class="progressbar70">
            <div align="center">70%</div>
          </div></div></td>
          <td><a>Посмотреть</a></td>
        </tr>
        <tr>
          <td class="fifth-header"><a>Строительство школы в Кижингинском районе</a></td>
          <td>Цыбикжапов В.Б.</td>
          <td>Лхасаранов Г.З.</td>
          <td>20.12.2019</td>
          <td><a>5</a></td>
          <td><a>7</a></td>
          <td><a>0</a></td>
          <td><div class="border-progress"><div class="progressbar92">
            <div align="center">92%</div>
          </div></div></td>
          <td><div class="border-progress"><div class="progressbar92">
            <div align="center">92%</div>
          </div></div></td>
          <td><a>Посмотреть</a></td>
        </tr>
        <tr>
          <td class="fifth-header"><a>Переоснащение школы №17 в г.Улан-Удэ</a></td>
          <td>Цыбикжапов В.Б.</td>
          <td>Шутенков И.Ю.</td>
          <td>30.11.2019</td>
          <td><a>4</a></td>
          <td><a>1</a></td>
          <td><a>2</a></td>
          <td><div class="border-progress"><div class="progressbar54">
            <div align="center">54%</div>
          </div></div></td>
          <td><div class="border-progress"><div class="progressbar70">
            <div align="center">70%</div>
          </div></div></td>
          <td><a>Посмотреть</a></td>
        </tr>
        <tr>
          <td class="second-header"><b>Производительность труда</b></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td
            class="second-header"><b>Вне нацпроектов</b></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="third-header"><a>Создание технопарка</a></td>
          <td>Зураев И.И.</td>
          <td>Оловянников А.А.</td>
          <td>31.12.2021</td>
          <td><a>11</a></td>
          <td><a>15</a></td>
          <td><a>8</a></td>
          <td><div class="border-progress"><div class="progressbar18">
            <div align="center">18%</div>
          </div></div></td>
          <td><div class="border-progress"><div class="progressbar18">
            <div align="center">18%</div>
          </div></div></td>
          <td><a>Посмотреть</a></td>
        </tr>
        <tr align="center" class="row-white"x>
          <th colspan="2"><b>Предстоящие мероприятия:</b></th>
          <th colspan="3"><b>Просроченные мероприятия:</b></th>
          <th colspan="3"><b>Проблемы:</b></th>
          <th colspan="2"><b>Бюджет:</b></td>
        </tr>
        <tr class="row-white">
          <td colspan="2">
            <ol>
              <li>Подготовка конкурсной документации</li>
              <li>Разработка ТТ</li>
              <li>Подготовка аналитического отчета</li>
              <li>Установка ПАК</li>
              <li>Проведение обучение</li>
            </ol>
          </td>
          <td colspan="3">
            <ol>
              <li>Разработка информационного портала</li>
              <li>Подготовка заявки на финансирование</li>
            </ol>
          </td>
          <td colspan="3">
            <ol>
              <li>Задержка поставки оборудования</li>
              <li>Не представлен техпаспорт</li>
              <li>Нет согласования юристов</li>
            </ol>
          </td>
          <td colspan="2">
            <ol>
              <li>Современная школа в РБ</li>
              <li>Создание региональной цифровой платформы в РБ</li>
              <li>Внедрение системы контроля качества</li>
            </ol>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <table>
        <thead>

        </thead>
        <tbody>

        </tbody>
      </table>
    </div>

    <style>
      td, th {
        border: 1px solid black;
        padding-left: 1px;
        padding-right: 1px;
      }
      th{
        align: center;
      }
      td {
        border-bottom: none;
        border-top: none
      }
      a{
        align: center;
      }
      .first-header{
        font-size: xx-large;
        padding-left: 5px;
        border-bottom-width: 0px;
      }
      .second-header{
        font-size: x-large;
        padding-left: 20px;
      }
      .third-header{
        font-size: large;
        padding-left: 30px;
      }
      .fourth-header{
        font-size: medium;
        padding-left: 40px;
      }
      .fifth-header{
        padding-left: 50px;
        font-size: small;
      }
      .scrollable-div{
        overflow: auto;
      }
      .no-border {
        border: none;
      }
      .row-white{
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .progress-bar-custom{
        height: 3%;
        background-color: white;
        border: 1px;
      }
      .progress {
        width: 50%;
        border: 1px solid black;
        position: relative;
        padding: 3px;
      }

      .percent {
        position: absolute;
        left: 50%;
      }

      .bar {
        height: 3em;
        background-color: green;
        width: 30%;
      }
      .progressbar70 {
        background-color: whitesmoke;
        /* (height of inner div) / 2 + padding */
        padding: 0px;
        z-index: 2;
      }
      .progressbar92 {
        background-color: whitesmoke;
        /* (height of inner div) / 2 + padding */
        padding: 0px;
        z-index: 2;
      }
      .progressbar54 {
        background-color: whitesmoke;
        /* (height of inner div) / 2 + padding */
        padding: 0px;
        z-index: 2;
      }
      .progressbar18 {
        background-color: whitesmoke;
        /* (height of inner div) / 2 + padding */
        padding: 0px;
        z-index: 2;
      }

      .progressbar70>div {
        background-color: #88ee88;
        /* Adjust with JavaScript */
        width: 70%;
        height: 90%;
        z-index: 3;
      }
      .progressbar92>div {
         background-color: #88ee88;
         /* Adjust with JavaScript */
         z-index: 3;
         width: 92%;
         height: 90%;

       }
      .progressbar54>div {
          background-color: #eeee88;
          /* Adjust with JavaScript */
          width: 54%;
          height: 90%;
          z-index: 3;
        }
      .progressbar18>div {
           background-color: #ee8888;
           /* Adjust with JavaScript */
           width: 18%;
           height: 90%;
           z-index: 3;
         }
      .border-progress{
        background-color: #1c7430;
        padding: 1px;
        width: 100px;
        margin: auto;
        z-index: 1;
      }
        @media only screen and (max-width: 1024px){
          table
          {
            font-size: 14px;

          }
          ol{
            font-size: 14px;
          }
          .row-white
          {
            font-size: 14px;
          }
          .first-header
          {
            font-size: 14px;
          }
          .second-header
          {
            font-size: 14px;
          }
          .third-header
          {
            font-size: 14px;
          }
          .fourth-header{
            font-size: 14px;
          }
          .fifth-header
          {
            font-size: 10px;
          }
          .border-progress{
            width: 50px;
            height: 10px;
          }
          .progressbar70>div{
            font-size: 7px;
          }
          .progressbar92>div{
            font-size: 7px;
          }
          .progressbar54>div{
            font-size: 7px;
          }
          .progressbar18>div{
            font-size: 7px;
          }
        }

    </style>

    </div>
  </div>
</div>



