<h2>Электронный протокол</h2>
<table style="font-weight: bold; width: 100%; text-align: center;" border="1" class="blueTable">
  <thead>
  <tr>
    <td style="color: white;"></td>
    <td style="color: white;">Ответственный</td>
    <td style="color: white;">Срок</td>
    <td style="color: white;">Исполнение</td>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td style="padding-left: 20px; text-align: left;">Здравоохранение</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td style="padding-left: 50px; text-align: left;">Создание единого цифрового контура в здравоохранении на основе ЕГИСЗ</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td style="padding-left: 80px; text-align: left">Создание региональной цифровой платформы ИСЗ</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td></td>
  </tr>
  <tr>
    <td style="padding-left: 140px; text-align: left">Поручение: представить документы</td>
    <td>Цыбикжапов В.Б.</td>
    <td>11.11.2019</td>
    <td>В работе</td>
  </tr>
  <tr id="colored-col-green">
    <td style="padding-left: 140px; text-align: left">Поручение: представить документы</td>
    <td>Цыбикжапов В.Б.</td>
    <td>08.07.2019</td>
    <td>Исполнено</td>
  </tr>
  <tr>
    <td style="padding-left: 80px; text-align: left">Снижение смертности населения трудоспособного возраста</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td style="padding-left: 110px; text-align: left">Внедрение системы контроля качества медицинской помощи в РБ</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="colored-col-orange">
    <td style="padding-left: 140px; text-align: left">Поручение: представить документы</td>
    <td>Самбуев Д.Н.</td>
    <td>24.07.2019</td>
    <td>В работе</td>
  </tr>
  <tr id="colored-col-red">
    <td style="padding-left: 140px; text-align: left">Поручение: подготовить доклад</td>
    <td>Самбуев Д.Н.</td>
    <td>04.07.2019</td>
    <td>Просрочено</td>
  </tr>
  </tbody>
</table>
