<h2>Исполнение показателей</h2>
<div ng-app="OpenProjectLegacy" class="ng-scope">
  <div id="invisible-grid" class="widget-boxes project-overview" style="margin-bottom: 10px;">
    <div class="grid-block">
      <div style="flex: 0 0 33.3%; max-width: 33.3%;">
        <p style="text-align: center;font-weight: bold;margin: -2px;">Здравоохранение</p>
        <wp-homescreen-done-ratio-diagram chart-data='[{"data":[64,32,15,8],"label":"false1"}]' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл.","Нет данных"]'>
        </wp-homescreen-done-ratio-diagram>
      </div>
      <div style="flex: 0 0 33.3%; max-width: 33.3%;">
        <p style="text-align: center;font-weight: bold;margin: -2px;">Образование</p>
        <wp-homescreen-done-ratio-diagram chart-data='[{"data":[45,28,10,14],"label":"false1"}]' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл.","Нет данных"]'>
        </wp-homescreen-done-ratio-diagram>
      </div>
      <div style="flex: 0 0 33.3%; max-width: 33.3%;">
        <p style="text-align: center;font-weight: bold;margin: -2px;">Производительность труда</p>
        <wp-homescreen-done-ratio-diagram chart-data='[{"data":[53,25,1,8],"label":"false1"}]' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл.","Нет данных"]'>
        </wp-homescreen-done-ratio-diagram>
      </div>
    </div>
    <!--    <div>-->
    <!--      <wp-overview-date-diagram chart-labels='["Нет отклонений","Небольшие отклонения","Значительные отклонения","Нет данных"]'>-->
    <!--      </wp-overview-date-diagram>-->
    <!--    </div>-->
  </div>
  <table class="blueTable">
    <thead>
    <tr>
      <th rowspan="2"><b>Республика Бурятия</b></th>
      <th rowspan="2"><b>Ответственный</b></th>
      <th colspan="4"><b>План</b></th>
      <th colspan="4"><b>Факт</b></th>
      <th rowspan="2"><b>Процент исполнения</b></th>
    </tr>
    <tr>
      <th><b>I</b></th>
      <th><b>II</b></th>
      <th><b>III</b></th>
      <th><b>IV</b></th>
      <th><b>I</b></th>
      <th><b>II</b></th>
      <th><b>III</b></th>
      <th><b>IV</b></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td style="padding-left: 10px"><b>Достижение средней продолжительности жизни 78 лет</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="colored-row">
      <td style="padding-left: 20px">Создание 15 центров медицинского обслуживания</td>
      <td>Цыбикжапов В.Б.</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td style="color: red;">1</td>
      <td></td>
      <td></td>
      <td>
        <div class="border-progress">
          <div class="progress" data-label="70%">
              <span class="value" style="width:70%; background-color: #88ee88;">
              </span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td style="padding-left: 10px"><b>Повышение уровня образования до 100%</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="colored-row">
      <td style="padding-left: 20px">Создание 15 школ</td>
      <td>Цыбикжапов В.Б.</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td style="color: red;">1</td>
      <td></td>
      <td></td>
      <td>
        <div class="border-progress">
          <div class="progress" data-label="54%">
              <span class="value" style="width:54%; background-color: #eeee88;">
              </span>
          </div>
        </div>
      </td>
    </tr>
    <tr id="colored-row">
      <td style="padding-left: 20px">Строительство 2 библиотек</td>
      <td>Цыбикжапов В.Б.</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td style="color: red;">1</td>
      <td></td>
      <td></td>
      <td>
        <div class="border-progress">
          <div class="progress" data-label="54%">
              <span class="value" style="width:54%; background-color: #eeee88;">
              </span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td style="padding-left: 10px"><b>Повышение производительности труда на 50%</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="colored-row">
      <td style="padding-left: 20px">Переподготовка 1000 человек</td>
      <td>Зураев И.И.</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td></td>
      <td></td>
      <td>
        <div class="border-progress">
          <div class="progress" data-label="18%">
              <span class="value" style="width:18%; background-color: #ee8888;">
              </span>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <table class="blueTable" border="0">
    <thead>
    <tr>
      <th id="colored-col-red">Значительные отклонения:</th>
      <th id="colored-col-yellow">Небольшие отклонения:</th>
      <th id="colored-col-orange">Проблемы и риски:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td id="colored-col-red">
        <ol>
          <li>Создание 15 центров
            медицинского обслуживания</li>
        </ol>
      </td>
      <td id="colored-col-yellow">
        <ol>
          <li>Создание 15 школ</li>
        </ol>
      </td>
      <td id="colored-col-orange">
        <ol>
          <li>Есть риск задержки стройки школы</li>
        </ol>
      </td>
    </tr>
    </tbody>
  </table>
</div>
