<h2>Исполнение бюджета</h2>

<div ng-app="OpenProjectLegacy" class="ng-scope">
  <div id="invisible-grid" class="widget-boxes project-overview">
    <div class="grid-block">
      <div style="flex: 0 0 33.3%; max-width: 33.3%;">
        <p style="text-align: center;font-weight: bold;margin: -2px;">Федеральный бюджет</p>
        <homescreen-diagram chart-data='[{"data":[64,32,15],"label":"false1"}]' chart-labels='["Факт. исп.","Риски исп.","Остаток"]'>
        </homescreen-diagram>
      </div>
      <div style="flex: 0 0 33.3%; max-width: 33.3%;">
        <p style="text-align: center;font-weight: bold;margin: -2px;">Региональный бюджет</p>
        <homescreen-diagram chart-data='[{"data":[45,28,10],"label":"false1"}]' chart-labels='["Факт. исп.","Риски исп.","Остаток"]'>
        </homescreen-diagram>
      </div>
      <div style="flex: 0 0 33.3%; max-width: 33.3%;">
        <p style="text-align: center;font-weight: bold;margin: -2px;">Внебюджетные источники</p>
        <homescreen-diagram chart-data='[{"data":[53,25,1],"label":"false1"}]' chart-labels='["Факт. исп.","Риски исп.","Остаток"]'>
        </homescreen-diagram>
      </div>
    </div>
  </div>
</div>


<div class="tab-budget" style="display: block;" id="tab-1">
  <table class="blueTable">
    <thead>
    <tr>
      <th id="c80"><b>Республика Бурятия</b></th>
      <th id="c40"><b>Куратор</b></th>
      <th id="c40"><b>РП</b></th>
      <th id="c40"><b>План срок завершения</b></th>
      <th id="c40"><b>Исполнено</b></th>
      <th id="c40"><b>Риски исполнения</b></th>
      <th id="c40"><b>Остаток</b></th>
      <th id="c40"><b>Риски и проблемы</b></th>
      <th id="c40"><b>Исполнение бюджета</b></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td colspan="9">
        <div class="links"><a href="#">&laquo;</a>
          <a class="chtbl2" href="#">1</a>
          <a class="chtbl2" href="#">2</a>
          <a class="chtbl2" href="#">3</a>
          <a class="chtbl2" href="#">4</a>
          <a class="links" href="#">&raquo;</a>
        </div>
      </td>
    </tr>
    </tfoot>
    <tbody>
    <tr>
      <td style="padding-left: 10px"><b>Здравоохранение</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td style="padding-left: 20px">Создание единого цифрового контура в здравоохранении на основе ЕГИСЗ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="colored-row">
      <td style="padding-left: 30px"><a>Создание региональный цифровой платформы ИСЗ</a></td>
      <td>Цыбикжапов&nbspВ.Б.</td>
      <td>Самбуев&nbspД.Н.</td>
      <td>01.08.2020</td>
      <td>12 000,00</td>
      <td>22,00</td>
      <td>45 000,00</td>
      <td><a href="/admin/typed_risks">3</a></td>
      <td>
        <div class="border-progress">
          <div class="progress" data-label="92%">
              <span class="value" style="width:92%; background-color: #88ee88;">
              </span>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td style="padding-left: 20px">Снижение смертности населения трудоспособного возраста</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td style="padding-left: 30px"><a>Создание региональный цифровой платформы ИСЗ</a></td>
      <td>Цыбикжапов&nbspВ.Б.</td>
      <td>Самбуев&nbspД.Н.</td>
      <td>01.08.2020</td>
      <td>12 000,00</td>
      <td>22,00</td>
      <td>45 000,00</td>
      <td><a href="/admin/typed_risks">3</a></td>
      <td>
        <div class="border-progress">
          <div class="progress" data-label="92%">
              <span class="value" style="width:92%; background-color: #88ee88;">
              </span>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<div class="tab-budget" style="display: none;" id="tab-2">
  <table class="blueTable">
    <thead>
    <tr>
      <th id="c80"><b>Республика бурятия</b></th>
      <th id="c40"><b>Куратор</b></th>
      <th id="c40"><b>РП</b></th>
      <th id="c40"><b>План срок завершения</b></th>
      <th id="c40"><b>Исполнено</b></th>
      <th id="c40"><b>Риски исполнения</b></th>
      <th id="c40"><b>Остаток</b></th>
      <th id="c40"><b>Риски и проблемы</b></th>
      <th id="c40"><b>Исполнение бюджета</b></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td colspan="9">
        <div class="links"><a href="#">&laquo;</a>
          <a class="chtbl2" href="#">1</a>
          <a class="chtbl2" href="#">2</a>
          <a class="chtbl2" href="#">3</a>
          <a class="chtbl2" href="#">4</a>
          <a class="chtbl2" href="#">&raquo;
          </a>
        </div>
      </td>
    </tr>
    </tfoot>
    <tbody>
    <tr>
      <td style="padding-left: 10px"><b>Образование</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td style="padding-left: 20px">Современная школа</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr id="colored-row">
      <td style="padding-left: 30px"><a>Современная школа в РБ</a></td>
      <td>Цыбикжапов&nbspВ.Б.</td>
      <td>Жалсанов&nbspБ.Б.</td>
      <td>31.12.2019</td>
      <td>7 000,00</td>
      <td>-</td>
      <td>400,00</td>
      <td><a href="/admin/typed_risks">7</a></td>
      <td>
        <div class="border-progress">
          <div class="progress" data-label="70%">
            <span class="value" style="width:70%; background-color: #88ee88;"></span>
          </div>
        </div>
      </td>
    </tr>

    <tr id="colored-row">
      <td style="padding-left: 30px"><a>Строительство школы в Кижингинском районе</a></td>
      <td>Цыбикжапов&nbspВ.Б.</td>
      <td>Лхасаранов&nbspГ.З.</td>
      <td>20.12.2019</td>
      <td>2 000,00</td>
      <td>-</td>
      <td>4500,00</td>
      <td><a href="/admin/typed_risks">0</a></td>
      <td>
        <div class="border-progress">
          <div class="progress" data-label="92%">
            <span class="value" style="width:70%; background-color: #88ee88;"></span>
          </div>
        </div>
      </td>
    </tr>

    <tr id="colored-row">
      <td style="padding-left: 30px"><a>Строительство школы в Кижингинском районе</a></td>
      <td>Цыбикжапов&nbspВ.Б.</td>
      <td>Шутенков&nbspИ.Ю.</td>
      <td>30.11.2019</td>
      <td>9 000,00</td>
      <td>22,00</td>
      <td>5000,00</td>
      <td><a href="/admin/typed_risks">2</a></td>
      <td>
        <div class="border-progress">
          <div class="progress" data-label="70%">
            <span class="value" style="width:70%; background-color: #88ee88;"></span>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="tab-budget" style="display: none;" id="tab-3">
  <table class="blueTable">
    <thead>
    <tr>
      <th id="c80"><b>Республика бурятия</b></th>
      <th id="c40"><b>Куратор</b></th>
      <th id="c40"><b>РП</b></th>
      <th id="c40"><b>План срок завершения</b></th>
      <th id="c40"><b>Исполнено</b></th>
      <th id="c40"><b>Риски исполнения</b></th>
      <th id="c40"><b>Остаток</b></th>
      <th id="c40"><b>Риски и проблемы</b></th>
      <th id="c40"><b>Исполнение бюджета</b></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td colspan="9">
        <div class="links"><a href="#">&laquo;</a>
          <a class="chtbl2" href="#">1</a>
          <a class="chtbl2" href="#">2</a>
          <a class="chtbl2" href="#">3</a>
          <a class="chtbl2" href="#">4</a>
          <a class="chtbl2" href="#">&raquo;
          </a>
        </div>
      </td>
    </tr>
    </tfoot>
    <tbody>
    <tr>
      <td style="padding-left: 10px"><b>Производителность труда</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="tab-budget" style="display: none;" id="tab-4">

  <table class="blueTable">
    <thead>
    <tr>
      <th id="c80"><b>Республика бурятия</b></th>
      <th id="c40"><b>Куратор</b></th>
      <th id="c40"><b>РП</b></th>
      <th id="c40"><b>План срок завершения</b></th>
      <th id="c40"><b>Исполнено</b></th>
      <th id="c40"><b>Риски исполнения</b></th>
      <th id="c40"><b>Остаток</b></th>
      <th id="c40"><b>Риски и проблемы</b></th>
      <th id="c40"><b>Исполнение бюджета</b></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td colspan="9">
        <div class="links"><a href="#">&laquo;</a>
          <a class="chtbl2" href="#">1</a>
          <a class="chtbl2" href="#">2</a>
          <a class="chtbl2" href="#">3</a>
          <a class="chtbl2" href="#">4</a>
          <a class="chtbl2" href="#">&raquo;
          </a>
        </div>
      </td>
    </tr>
    </tfoot>
    <tbody>
    <tr>
      <td style="padding-left: 10px"><b>Вне нацпроектов</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr id="colored-row">
      <td style="padding-left: 120px" ><a>Создание технопарка</a></td>
      <td>Зураев&nbspИ.И.</td>
      <td>Оловянников&nbspА.А.</td>
      <td>31.12.2021</td>
      <td>12 000,00</td>
      <td>100,00</td>
      <td>4 000,00</td>
      <td><a href="/admin/typed_risks">8</a></td>
      <td>
        <div class="border-progress">
          <div class="progress" data-label="18%">
            <span class="value" style="width:18%; background-color: #88ee88;"></span>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>



<table class="blueTable" border="0" >
  <thead>
  <tr>
    <th id="colored-col-red" colspan="3">Значительные отклонения:</th>
    <th id="colored-col-light-brown" colspan="3">Небольшие отклонения:</th>
    <th id="colored-col-orange" colspan="3">Риски:</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td id="colored-col-red" style="padding-bottom: 30px; width: 33%">1 Создание 15 центров медицинского обслуживания</td>
    <td id="colored-col-red"></td>
    <td id="colored-col-red"></td>
    <td id="colored-col-light-brown" style="padding-bottom: 30px; width: 33%">1 Создание 10 школ</td>
    <td id="colored-col-light-brown"></td>
    <td id="colored-col-light-brown"></td>
    <td id="colored-col-orange" style="padding-bottom: 30px; width: 33%">Есть риски задержки стройки школы</td>
    <td id="colored-col-orange"></td>
    <td id="colored-col-orange"></td>
  </tr>


  </tbody>
</table>
