<h2>Перечень мероприятий по проекту</h2>
<table>
  <tr>
    <td>Проект</td>
    <td><b>Создание региональной цифровой платформы ИСЗ</b></td>
  </tr>

  <tr>
    <td>Куратор</td>
    <td><b>Цыбикжапов В.Б.</b></td>
  </tr>

  <tr>
    <td>Руководитель</td>
    <td><b>Самбуев Д.Ц.</b></td>
  </tr>

  <tr>
    <td>Фильтр</td>
    <td>
      <a href="">Все</a> /
      <a href="">Исполнено в срок</a> /
      <a href="">Исполнено с опозданием</a> /
      <a href="">В работе</a> /
      <a href="">Предстоящие</a>
    </td>
  </tr>

  <tr>
    <td>Предстоящие</td>
    <td>
      <u>3 дня</u>
      <u class="underline-offset">2 недели</u>
      <u class="underline-offset">1 месяц</u>
      <u class="underline-offset">3 месяца</u>
    </td>
  </tr>
</table>

<table border="1" width="100%" cellpadding="5" class="blueTable">
  <thead>
  <tr >
    <th>№ п/п</th>
    <th>Мероприятие</th>
    <th>Отв. Исполнитель</th>
    <th>Срок выполнения</th>
    <th>Статус</th>
    <th>Факт. выполнение</th>
    <th>Проблемы</th>
  </tr>
  </thead>
  <tr class="row-success">
    <td align="center">1</td>
    <td align="center">Проведение совещания с учреждениями здравоохранения по сбору требований к региональной платформе</td>
    <td align="center">Самбуев Д. Ц.</td>
    <td align="center">01.08.2019</td>
    <td align="center">Исполнено в срок</td>
    <td align="center">01.08.2019</td>
    <td align="center"></td>
  </tr>
  <tr class="row-danger">
    <td align="center">2</td>
    <td align="center">Разработка технических требований</td>
    <td align="center">Доржиева Е. Б.</td>
    <td align="center">09.09.2019</td>
    <td align="center">Исполнено с опозданием</td>
    <td align="center">15.08.2019</td>
    <td align="center"><a href="/org_settings">2</a></td>
  </tr>
  <tr>
    <td align="center">3</td>
    <td align="center">Подготовка конкурсной документации</td>
    <td align="center">Бухольцева Н. А.</td>
    <td align="center">31.08.2019</td>
    <td align="center">В работе</td>
    <td align="center"></td>
    <td align="center"><a href="/org_settings">1</a></td>
  </tr>
  <tr>
    <td align="center">4</td>
    <td align="center"></td>
    <td align="center"></td>
    <td align="center"></td>
    <td align="center"></td>
    <td align="center"></td>
    <td align="center"></td>
  </tr>

  <tr>
    <td align="center">5</td>
    <td align="center"></td>
    <td align="center"></td>
    <td align="center"></td>
    <td align="center"></td>
    <td align="center"></td>
    <td align="center"></td>
  </tr>
</table>
