<%= error_messages_for :production_calendars %>
<section class="form--section">
  <div class="form--field"><%= f.text_field 'date', container_class: '-middle' %></div>
  <div class="form--field"><%= f.text_area 'type_of_day', container_class: '-middle' %></div>
</section>
