<h2>Исполнение показателей</h2>

<div ng-app="OpenProjectLegacy" class="ng-scope">
    <div id="invisible-grid" class="widget-boxes project-overview">
        <div class="grid-block" style="overflow-x: scroll;">
            <div *ngFor="let chartData of chartsData; let i = index">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px" [title]="chartData.name">{{chartData.name.length > 32 ? chartData.name.slice(0,32)+'...' : chartData.name}}</p>
                <homescreen-diagram [data]="chartData.data" [label]='chartData.label' [chartLabels]='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]'>
                </homescreen-diagram>
            </div>
        </div>
    </div>
    <homescreen-blue-table [template]="'indicator'"></homescreen-blue-table>
</div>

