<h2>Исполнение показателей</h2>

<div ng-app="OpenProjectLegacy" class="ng-scope">
    <div id="invisible-grid" class="widget-boxes project-overview">
        <div class="grid-block" style="overflow-x: scroll;">
            <div style="width: 0; visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_zdravoohr')}}</p>
                <homescreen-diagram chart-name='zdravoohranenie' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="width: 0; visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_obraz')}}</p>
                <homescreen-diagram chart-name='obrazovanie' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="width: 0; visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_demogr')}}</p>
                <homescreen-diagram chart-name='demografia' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="width: 0; visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_cultur')}}</p>
                <homescreen-diagram chart-name='cultura' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="width: 0; visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_avtodor')}}</p>
                <homescreen-diagram chart-name='avtodorogi' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="width: 0; visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_gorsreda')}}</p>
                <homescreen-diagram chart-name='gorsreda' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="width: 0; visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_ekol')}}</p>
                <homescreen-diagram chart-name='ekologia' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="width: 0; visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_nauka')}}</p>
                <homescreen-diagram chart-name='nauka' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="width: 0; visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px" title="{{this.I18n.t('js.national_project_msp')}}">{{this.I18n.t('js.national_project_msp_short')}}</p>
                <homescreen-diagram chart-name='msp' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="width: 0; visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_digital')}}</p>
                <homescreen-diagram chart-name='digital' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="width: 0; visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_trud')}}</p>
                <homescreen-diagram chart-name='trud' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="width: 0; visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_export')}}</p>
                <homescreen-diagram chart-name='export' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="width: 0; visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.project_republic')}}</p>
                <homescreen-diagram chart-name='republic' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
        </div>
    </div>
    <homescreen-blue-table [template]="'indicator'"></homescreen-blue-table>
</div>

