<li class="form--selected-value--container work-package--attachments--draggable-item"
    focus-within
    draggable="true"
    (dragstart)="setDragData($event)"
    [title]="text.dragHint"
    focusWithinSelector=".inplace-edit--icon-wrapper">
  <span class="form--selected-value">
    <op-icon icon-classes="icon-context icon-attachment"></op-icon>
    <a
        class="work-package--attachments--filename"
        target="_blank"
        rel="noopener"
        [attr.href]="downloadPath || '#'">

      {{ attachment.fileName || attachment.customName || attachment.name }}

      <authoring class="work-package--attachments--info"
                 [createdOn]="attachment.createdAt"
                 [author]="attachment.author"
                 [showAuthorAsLink]="false"></authoring>
    </a>
  </span>
  <a
      href=""
      class="form--selected-value--remover work-package--atachments--delete-button"
      *ngIf="!!attachment.$links.delete"
      (click)="confirmRemoveAttachment($event)">
    <op-icon icon-classes="icon-delete"
             [icon-title]="text.removeFile({fileName: attachment.fileName})"></op-icon>
  </a>
  <!--bbm(-->
  <a
          href=""
          class="form--selected-value--locker work-package--atachments--lock-button"
          (click)="submitLock()">
    <op-icon icon-classes="icon-not-supported"
             [icon-title]="text.lockFile({fileName: attachment.fileName})"></op-icon>
  </a>
  <div [ngClass]="['form--selected-value--href',
      active && '-active' || '']">

    <div [hidden]="!active"
         style="display: flex"
         #editContainer>
      <input type="text"
             class="form--selected-value--input"
             (keydown)="handleUserKeydown($event)"
             [(ngModel)]="hrefValue"/>
      <a href=""
         class="form--selected-value--input-save"
         (click)="submitHref()">
        <i aria-hidden="true" class="icon-save" ng-reflect-ng-class="icon-save" title="Сохранить ссылку"></i>
      </a>
    </div>

    <div (accessibleClick)="activate($event)"
         [accessibleClickStopEvent]="false"
         [hidden]="active"
         tabindex="-1"
         style="margin: 4px"
         #displayContainer>
      <a [href]="someHref" target="_blank"
         [textContent]="someHref"></a>
      <i class="button--icon icon-edit" style="padding-left: 5px;"></i>
    </div>
  </div>

  <select [(ngModel)]="selectedOption"
          [compareWith]="compareByHref"
          class="form--selected-value--selecter attach-edit--field"
          (change)="handleUserSubmit()"
          role="listbox">
    <option
            *ngFor="let value of valueOptions"
            [attr.selected]="compareByHref(selectedOption, value) || undefined"
            [attr.label]="value.name"
            [ngValue]="value"
            [textContent]="value.name">
    </option>
  </select>
  <!--)bbm-->
  <input type="hidden" name="attachments[{{index}}][id]" value="{{attachment.id}}" *ngIf="!attachment.container">
</li>
