<div ng-app="OpenProjectLegacy" class="ng-scope">
    <div id="invisible-grid" class="widget-boxes project-overview">
        <div class="grid-block">
            <div style="flex: 0 0 23%; max-width: 23%;">
                <p style="text-align: center;font-weight: bold;margin: -2px;">Показатели</p>
                <homescreen-diagram [data]="this.targetChartData" [label]='this.targetChartLabel' [chartLabels]='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]'>
                </homescreen-diagram>
            </div>
            <div style="flex: 0 0 23%; max-width: 23%;">
                <p style="text-align: center;font-weight: bold;margin: -2px;">КТ</p>
                <homescreen-diagram [data]="this.KTChartData" [label]='this.KTChartLabel' [chartLabels]='["Исп.","Не исп.","В работе","Риски"]'>
                </homescreen-diagram>
            </div>
            <div style="flex: 0 0 23%; max-width: 23%;">
                <p style="text-align: center;font-weight: bold;margin: -2px;">Бюджет</p>
                <homescreen-diagram [data]="this.budgetChartData" [label]='this.budgetChartLabel' [chartLabels]='["Исп.","Не исп.","Остаток"]' [chartColors]='["#00b050", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="flex: 0 0 23%; max-width: 23%;">
                <p style="text-align: center;font-weight: bold;margin: -2px;">Риски</p>
                <!--
                <homescreen-diagram chart-name='riski' chart-labels='["Отсутств.", "Незначит.","Критич."]' chart-colors='["#00b050", "#ffc000", "#c00000"]'>
                -->
                <homescreen-diagram [data]="this.risksAndProblemsChartData" [label]='this.risksAndProblemsChartLabel' [chartLabels]='["Незначит.","Критич."]'
                                    [chartColors]='["#ffc000", "#c00000"]'>
                </homescreen-diagram>
            </div>
            <div style="text-align: center; width: 8%; background-color: #c0504d; margin-right: 10px;" >
                <a style="font-weight: bold; color: white; position:relative; top:40%" class="problems-a" href="{{this.getBasePath()}}/vkladka1/problems">Проблем<br>{{problemCount}}</a>
            </div>
        </div>
    </div>
    <div class="grid-block">
        <p>Проект: </p>
        <select [(ngModel)]="selectedOption"
                [compareWith]="compareByHref"
                (change)="handleUserSubmit()"
                style="width: 200px">
            <option
                    *ngFor="let value of valueOptions"
                    [attr.selected]="compareByHref(selectedOption, value) || undefined"
                    [attr.label]="value.name"
                    [ngValue]="value"
                    [textContent]="value.name">
            </option>
        </select>
    </div>
    <homescreen-blue-table [template]="'desktop'"></homescreen-blue-table>
    <br/>
    <div style="display: inline-flex; width: 100%;">
        <div style="width: 25%">
            <table border="0" class="coloredTable">
                <thead (click)="changeUpcomingTasksVisibility()">
                <tr>
                    <th class="colored-col-green" colspan="3">Предстоящие мероприятия:</th>
                </tr>
                </thead>
                <tbody [hidden]="upcomingTasksVisibility">
                <tr *ngFor="let item of upcomingTasksData; let i = index">
                    <td [ngClass]="getGreenClass(i)"
                        [textContent]="item.number"></td>
                    <td [ngClass]="getGreenClass(i)">
                        <a href="{{this.getBasePath()}}/projects/{{item.projectId}}/work_packages/{{item.id}}/activity?plan_type=execution"
                           [textContent]="shorten(item.subject)" [title]="item.subject"></a>
                    </td>
                    <td [ngClass]="getGreenClass(i)">
                        <a href="{{this.getBasePath()}}/projects/{{item.projectId}}"
                        [textContent]="shorten(item.project)"  [title]="item.project"></a>
                    </td>
                </tr>
                <tr *ngIf="loadingUpcomingTasks">
                    <td [ngClass]="getGreenClass(0)" colspan="3">Загрузка...</td>
                </tr>
                <tr *ngIf="!loadingUpcomingTasks && upcomingTasksCount === 0">
                    <td [ngClass]="getGreenClass(0)" colspan="3">Нет данных</td>
                </tr>
                </tbody>
            </table>
            <table class="blueTable" *ngIf="upcomingTasksPages > 1" [hidden]="upcomingTasksVisibility">
                <tfoot>
                <tr>
                    <td [attr.colspan]="2">
                        <div class="links">
                            <a *ngFor="let item of [].constructor(upcomingTasksPages); let i = index"
                               [textContent]="i + 1"
                               (click)="loadUpcomingTasksByPage(i + 1)"
                               href="#">
                            </a>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div style="width: 25%">
            <table border="0" class="coloredTable">
                <thead (click)="changeDueMilestoneVisibility()">
                <tr>
                    <th class="colored-col-red" colspan="3">Просроченные КТ:</th>
                </tr>
                </thead>
                <tbody [hidden]="dueMilestoneVisibility">
                <tr *ngFor="let item of dueMilestoneData; let i = index" >
                    <td [ngClass]="getRedClass(i)"
                        [textContent]="item.number"></td>
                    <td [ngClass]="getRedClass(i)">
                        <a href="{{this.getBasePath()}}/projects/{{item.projectId}}/work_packages/{{item.id}}/activity?plan_type=execution"
                           [textContent]="shorten(item.subject)" [title]="item.subject"></a>
                    </td>
                    <td [ngClass]="getRedClass(i)">
                        <a href="{{this.getBasePath()}}/projects/{{item.projectId}}"
                           [textContent]="shorten(item.project)" [title]="item.project"></a>
                    </td>
                </tr>
                <tr *ngIf="loadingDueMilestones">
                    <td [ngClass]="getRedClass(0)" colspan="3">Загрузка...</td>
                </tr>
                <tr *ngIf="!loadingDueMilestones && dueMilestoneCount === 0">
                    <td [ngClass]="getRedClass(0)" colspan="3">Нет данных</td>
                </tr>
                </tbody>
            </table>
            <table class="blueTable" *ngIf="dueMilestonePages > 1" [hidden]="dueMilestoneVisibility">
                <tfoot>
                <tr>
                    <td [attr.colspan]="2" *ngIf="dueMilestonePages > 1">
                        <div class="links">
                            <a *ngFor="let item of [].constructor(dueMilestonePages); let i = index"
                               [textContent]="i + 1"
                               (click)="loadDueMilestonesByPage(i + 1)"
                               href="#">
                            </a>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div style="width: 25%">
            <table border="0" class="coloredTable">
                <thead (click)="changeProblemVisibility()">
                <tr>
                    <th class="colored-col-orange" colspan="3">Проблемы:</th>
                </tr>
                </thead>
                <tbody [hidden]="problemVisibility">
                <tr *ngFor="let item of problemData; let i = index" >
                    <td [ngClass]="getOrangeClass(i)"
                        [textContent]="item.number"></td>
                    <td [ngClass]="getOrangeClass(i)">
                        <a href="{{this.getBasePath()}}/work_packages/{{item.wpid}}/problems"
                           [textContent]="shorten(item.risk)" [title]="item.risk"></a>
                    </td>
                    <td [ngClass]="getOrangeClass(i)">
                        <a href="{{this.getBasePath()}}/work_packages/{{item.wpid}}"
                           [textContent]="shorten(item.wptitle)" [title]="item.wptitle"></a>
                    </td>
                </tr>
                <tr *ngIf="loadingProblems">
                    <td [ngClass]="getOrangeClass(0)" colspan="3">Загрузка...</td>
                </tr>
                <tr *ngIf="!loadingProblems && problemCount === 0">
                    <td [ngClass]="getOrangeClass(0)" colspan="3">Нет данных</td>
                </tr>
                </tbody>
            </table>
            <table class="blueTable" *ngIf="problemPages > 1" [hidden]="problemVisibility">
                <tfoot>
                <tr>
                    <td [attr.colspan]="2">
                        <div class="links">
                            <a *ngFor="let item of [].constructor(problemPages); let i = index"
                               [textContent]="i + 1"
                               (click)="loadProblemsByPage(i + 1)"
                               href="#">
                            </a>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div style="width: 25%">
            <table border="0" class="coloredTable">
                <thead (click)="changeBudgetVisibility()">
                <tr>
                    <th class="colored-col-purple" colspan="3">Бюджет:</th>
                </tr>
                </thead>
                <tbody [hidden]="budgetVisibility">
                <tr *ngFor="let item of budgetData; let i = index" >
                    <td *ngIf="item"
                        [ngClass]="getPurpleClass(i)"
                        [textContent]="item.number"></td>
                    <td *ngIf="item"
                        [ngClass]="getPurpleClass(i)">
                        <a href="{{this.getBasePath()}}/projects/{{item.id}}"
                           [textContent]="shorten(item.name)" [title]="item.name"></a>
                    </td>
                    <td *ngIf="item"
                        [ngClass]="getPurpleClass(i)"[textContent]="item.value.toFixed(2)">
                    </td>
                </tr>
                <tr *ngIf="loadingBudgets">
                    <td [ngClass]="getPurpleClass(0)" colspan="3">Загрузка...</td>
                </tr>
                <tr *ngIf="!loadingBudgets && budgetCount === 0">
                    <td [ngClass]="getPurpleClass(0)" colspan="3">Нет данных</td>
                </tr>
                </tbody>
            </table>
            <table class="blueTable" *ngIf="budgetPages > 1" [hidden]="budgetVisibility">
                <tfoot>
                <tr>
                    <td [attr.colspan]="2">
                        <div class="links">
                            <a *ngFor="let item of [].constructor(budgetPages); let i = index"
                               [textContent]="i + 1"
                               (click)="loadBudgetsByPage(i + 1)"
                               href="#">
                            </a>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
