<div ng-app="OpenProjectLegacy" class="ng-scope">
    <div id="invisible-grid" class="widget-boxes project-overview">
        <div class="grid-block">
            <div style="flex: 0 0 29%; max-width: 29%;">
                <p style="text-align: center;font-weight: bold;margin: -2px;">Показатели</p>
                <homescreen-diagram chart-name='pokazateli' chart-labels='["Исп.","Не исп.","В работе"]' chart-colors='["#00b050", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="flex: 0 0 29%; max-width: 29%;">
                <p style="text-align: center;font-weight: bold;margin: -2px;">КТ</p>
                <homescreen-diagram chart-name='kt' chart-labels='["Исп.","Не исп.","В работе","Риски"]' chart-colors='["#00b050", "#c00000", "#1f497d", "#ffc000"]'>
                </homescreen-diagram>
            </div>
            <div style="flex: 0 0 29%; max-width: 29%;">
                <p style="text-align: center;font-weight: bold;margin: -2px;">Бюджет</p>
                <homescreen-diagram chart-name='budjet' chart-labels='["Исп.","Не исп.","Остаток"]' chart-colors='["#00b050", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="text-align: center; width: 13%; background-color: #c0504d;" >
                <a style="font-weight: bold; color: white; position:relative; top:40%" class="problems-a" href="#">Проблем<br>20</a>
            </div>
        </div>
    </div>
    <homescreen-blue-table [template]="'desktop'"></homescreen-blue-table>
    <div style="display: inline-flex;border: 1px solid #1A67A3;width: 100%;">
        <table border="0" class="coloredTable" style="flex: 0 0 25%;">
            <thead>
            <tr>
                <th class="colored-col-green" colspan="3">Предстоящие мероприятия:</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of upcoming_tasks_count; let i = index" >
                <td [ngClass]="getGreenClass(i)"
                    [textContent]="item.id"></td>
                <td [ngClass]="getGreenClass(i)">
                    <a href="{{this.getBasePath()}}/projects/{{item.projectId}}/work_packages/{{item.id}}/activity?plan_type=execution"
                       [textContent]="item.subject"></a>
                </td>
                <td [ngClass]="getGreenClass(i)">
                    <a href="{{this.getBasePath()}}/projects/{{item.projectId}}"
                    [textContent]="item.project"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <table border="0" class="coloredTable" style="flex: 0 0 25%;">
            <thead>
            <tr>
                <th class="colored-col-red" colspan="3">Просроченные КТ:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="colored-col-bright-red">1</td>
                <td class="colored-col-bright-red">Разработка информационного портала</td>
                <td class="colored-col-bright-red">Современная школа</td>
            </tr>
            </tbody>
        </table>
        <table border="0" class="coloredTable" style="flex: 0 0 25%;">
            <thead>
            <tr>
                <th class="colored-col-orange" colspan="3">Проблемы:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="colored-col-bright-orange">1</td>
                <td class="colored-col-bright-orange">Задержка поставки оборудования</td>
                <td class="colored-col-bright-orange">ООО "Комп"</td>
            </tr>
            </tbody>
        </table>
        <table border="0" class="coloredTable" style="flex: 0 0 25%;">
            <thead>
            <tr>
                <th class="colored-col-purple" colspan="2">Бюджет:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="colored-col-bright-purple">Создание региональной цифровой платформы в РБ</td>
                <td class="colored-col-bright-purple">580/2400</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
