<div class="work-package--details--long-field work-packages--activity--add-comment hide-when-print">
  <style type="text/css">
    table { width: 100%; }
    td.colA { width: 20%; }
    td.colB { width: 14%; }
  </style>

  <div class="wp-relations-create">
    <div class="wp-relations-create-button hide-when-print"
         *ngIf="!showProblemCreateForm">
      <div class="grid-block">
        <div class="grid-content collapse wp-inline-create-button">
          <a class="wp-inline-create--add-link relation-create"
             #focusAfterSave
             (accessibleClick)="toggleProblemCreateForm()"
             href
             id="relation--add-relation">
            <op-icon icon-classes="icon icon-add"></op-icon>
            <span [textContent]="text.addNewProblem"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="loading-indicator--location"
         data-indicator-name="relationAddDynamic">
      <div class="v-align wp-relations-create--form" *ngIf="showProblemCreateForm">
        <div class="grid-content medium-10">
          <div>
            <div class="grid-content medium-5" style="float:left; width: 100%;">
              <label for="input_name">Название</label>
              <input id="input_name" type="text" name="name" />

              <label for="input_org">Организация инициатор</label>
              <select name="org" id="input_org">
                <option *ngFor="let org of orgs | keyvalue" value="{{ org.key }}">{{ org.value }}</option>
              </select>

            </div>
            <div class="grid-content medium-5" style="float:left; width:100%;">
              <label for="input_type">Тип</label>
              <select id="input_type" name="problem_type">
                <option value="0" selected="selected">Проблема</option>
                <option value="1">Риск</option>
              </select>

              <label for="input_user">Сотрудник инициатор</label>
              <select id="input_user" name="user">
                <option *ngFor="let user of users | keyvalue" value="{{ user.key }}">{{ user.value }}</option>
              </select>
            </div>

            <div class="grid-content medium-10" style="float:bottom">
              <label for="input_desc">Описание</label>
              <textarea id="input_desc" name="desc"></textarea>
            </div>

            <div class="grid-content medium-5" style="float:left; width: 100%;">
              <label for="input_status">Статус решения</label>
              <input id="input_status" type="text" name="status" />
            </div>

            <div class="grid-content medium-5" style="float:left; width: 100%;">
              <label for="input_date">Описание</label>
              <input id="input_date" type="text" name="solution_date" />
            </div>
          </div>
        </div>
        <div class="grid-content medium-2 collapse wp-relations-controls-section relation-row">
          <accessible-by-keyboard
                  (execute)="createProblem()"
                  [isDisabled]="isDisabled || !selectedId"
                  linkClass="wp-create-relation--save"
                  aria-hidden="false">
            <op-icon icon-classes="icon-checkmark -padded" [icon-title]="text.save"></op-icon>
          </accessible-by-keyboard>
          <accessible-by-keyboard
                  (execute)="toggleProblemCreateForm()"
                  linkClass="wp-create-relation--cancel"
                  aria-hidden="false">
            <op-icon icon-classes="icon-remove -padded" [icon-title]="text.abort"></op-icon>
          </accessible-by-keyboard>
        </div>
      </div>
    </div>
  </div>


  <div style="margin-top: 20px;">
    <table>
      <thead>
        <tr>
          <th rowspan="2">Название</th>
          <th rowspan="2">Тип</th>
          <th rowspan="2">Создатель</th>
          <th colspan="2">Инициатор</th>
          <th rowspan="2">Описание</th>
          <th rowspan="2">Статус решения</th>
          <th rowspan="2">Дата решения</th>
        </tr>
        <tr>
          <th>Организация</th>
          <th>Сотрудник</th>
        </tr>
      </thead>
      <tbody *ngFor="let problem of wpProblems">
        <tr>
          <td class="colA">{{ problem.name }}</td>
          <td class="colA">{{ problem.type }}</td>
          <td class="colA">{{ problem.user_creator_id }}</td>
          <td class="colA">{{ problem.organization_source_id }}</td>
          <td class="colA">{{ problem.user_source_id }}</td>
          <td class="colA">{{ problem.description }}</td>
          <td class="colA">{{ problem.status }}</td>
          <td class="colA">{{ problem.solution_date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

