<h3 class="widget-box--header">
  <%= op_icon('icon-context icon-additional') %>
  <span class="widget-box--header-title"><%= l(:label_bubble_diagram) %></span>
</h3>

<openproject-base>
  <bubble-diagram>
  </bubble-diagram>
</openproject-base>
