<h3 class="widget-box--header">
  <%= op_icon('icon-context icon-projects') %>
  <span class="widget-box--header-title"><%= l(:label_work_package_plural) %></span>
</h3>

<openproject-base>
</openproject-base>
