<%= javascript_include_tag 'desktops.js' %>

<div class="background">
  <div class="icon-menu-span">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
  </div>

  <div class="span-content">
    <div id="glava" class="test1" style="display:none">
      <%= render :partial => 'homescreen/pages/glava' %>
    </div>
    <div id="tasks" class="test1" style="display:none">
      <%= render :partial => 'homescreen/pages/tasks' %>
    </div>
  </div>
</div>
