<h2>Обсуждения</h2>
<table border="1" width="100%" cellpadding="5" class="blueTable">
  <thead>
  <tr>
    <th>Проект</th>
    <th>Куратор<br>/РП</th>
    <th>Тема</th>
    <th>Дата последнего сообщения</th>
  </tr>
  </thead>
  <tr class="row-odd">
    <td>1</td>
    <td>Самбуев Д. Ц.</td>
    <td>Обсуждение формирования заявки на финансирование</td>
    <td>18.08.2019</td>
  </tr>
  <tr class="row-even">
    <td>2</td>
    <td>Доржиева Е. Б.</td>
    <td>Обсуждение протокола заседания рабочей группы</td>
    <td>05.09.2019</td>
  </tr>
  <tr class="row-odd">
    <td>3</td>
    <td>Цыбикжапов В. Б.</td>
    <td>Подготовка пакета документов</td>
    <td>22.09.2019</td>
  </tr>
  <tr class="row-even">
    <td>4</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<!--
<style>
  .underline-offset {
    margin-left: 15px;
  }
  .table-main {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .row-odd {
  }
  .row-even {
    background-color: #cce0ff
  }
  .row-header {
    height: 30px;
    background-color: #dcdee0;
  }
  .row-danger {
    background-color: #ff707e;
  }
  .row-success {
    background-color: #9ce69e;
  }
  .progressbar70>div {
    background-color: #88ee88;
    /* Adjust with JavaScript */
    width: 70%;
    border-radius: 10px;
    height: 90%;
    z-index: 3;
  }
  .progressbar92>div {
    background-color: #88ee88;
    /* Adjust with JavaScript */
    z-index: 3;
    border-radius: 10px;
    width: 92%;
    height: 90%;
  }
  .progressbar54>div {
    background-color: #eeee88;
    /* Adjust with JavaScript */
    width: 54%;
    border-radius: 10px;
    height: 90%;
    z-index: 3;
  }
  .progressbar18>div {
    background-color: #ee8888;
    /* Adjust with JavaScript */
    width: 18%;
    border-radius: 10px;
    height: 90%;
    z-index: 3;
  }
  .progress-label
  {
    position: relative;
    margin: auto;
  }
  .progress {
    height: 1em;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
  }
  .progress:before {
    content: attr(data-label);
    font-size: 0.8em;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    top: 1px;
    left: 0;
    right: 0;
  }
  .progress .value {
    background-color: #7cc4ff;
    display: block;
    border-radius: 10px;
    height: 100%;
  }
  .border-progress{
    background-color: #CCCCCC;
    padding: 1px;
    width: 100px;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
  }
  @media only screen and (max-width: 1024px){
    table
    {
      font-size: 14px;
    }
    ol{
      font-size: 14px;
    }
    .progressbar70>div{
      font-size: 7px;
    }
    .progressbar92>div{
      font-size: 7px;
    }
    .progressbar54>div{
      font-size: 7px;
    }
    .progressbar18>div{
      font-size: 7px;
    }
    .progress:before{
      font-size: 0.6em;
    }
    .progress
    {
      height: 0.7em;
    }
  }
  table.blueTable {
    border: 1px solid #1A67A3;
    background-color: #EAEAEA;
    width: 98%;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #CCCCCC;
    padding: 3px 3px;
  }
  table.blueTable tbody td {
    font-size: 12px;
    color: #333333;
  }
  #colored-row{
    background: #D0E4F5;
  }
  table.blueTable thead {
    background: #1A67A3;
    background: -moz-linear-gradient(top, #538dba 0%, #3176ac 66%, #1A67A3 100%);
    background: -webkit-linear-gradient(top, #538dba 0%, #3176ac 66%, #1A67A3 100%);
    background: linear-gradient(to bottom, #538dba 0%, #3176ac 66%, #1A67A3 100%);
    border-bottom: 0px solid #878787;
  }
  table.blueTable thead th {
    font-size: 13px;
    font-weight: 100;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  #c40{
    width: 40px;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  table.blueTable tfoot {
    font-size: 12px;
    font-weight: 100;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  }
  table.blueTable tfoot td {
    font-size: 12px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  .table_block {
    border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-khtml-border-radius:10px;
    border:1px solid #000;
    display: block;}​
</style>
-->
