<div class="tab">
  <button class="tablinks" id="consolidated-tab">Сводный</button>
  <button class="tablinks" id="project-tab">По проекту</button>
</div>

<!-- Tab content -->
<div id="consolidated" class="tabcontent" style="display: block;">
  <h2>Сводный перечень KPI</h2>
  <table class="ass">
    <tr>
      <td>Дата</td>
      <td><b>12.01.2021</b></td>
    </tr>

    <tr>
      <td>Фильтр</td>
      <td>
        <a href="">Все проекты</a> /
        <a href="">Конкр. проект</a>
      </td>
    </tr>
  </table>

  <table border="1" width="100%" cellpadding="5" class="blueTable">
    <thead>
    <tr >
      <th>№ п/п</th>
      <th>Рег. проект</th>
      <th>Куратор</th>
      <th>Рук. проекта</th>
      <th>Мероприятие</th>
      <th>КТ</th>
      <th>План</th>
      <th>Факт</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td align="center" rowspan="4">1</td>
      <td align="center" rowspan="8">Создание региональной цифровой платформы ИСЗ</td>
      <td align="center" rowspan="8">Цыбикжапов&nbspВ.Б.</td>
      <td align="center" rowspan="8">Самбуев&nbspД.Н.</td>
      <td align="center" rowspan="4">Количество подключенных к платформе учреждений</td>
      <td align="center">03-2020</td>
      <td align="center">10</td>
      <td align="center">7</td>
    </tr>
    <tr>
      <td align="center">06-2020</td>
      <td align="center">30</td>
      <td align="center">15</td>
    </tr>
    <tr>
      <td align="center">09-2020</td>
      <td align="center">70</td>
      <td align="center">54</td>
    </tr>
    <tr>
      <td align="center">12-2020</td>
      <td align="center">100</td>
      <td align="center">95</td>
    </tr>
    <tr>
      <td align="center" rowspan="2">2</td>
      <td align="center" rowspan="2">Количество оборудованных рабочих мест</td>
      <td align="center">06-2020</td>
      <td align="center">800</td>
      <td align="center">800</td>
    </tr>
    <tr>
      <td align="center">12-2020</td>
      <td align="center">1500</td>
      <td align="center">1400</td>
    </tr>
    <tr>
      <td align="center" rowspan="2">3</td>
      <td align="center" rowspan="2">Количество обученных пользователей системы</td>
      <td align="center">06-2020</td>
      <td align="center">800</td>
      <td align="center">750</td>
    </tr>
    <tr>
      <td align="center">12-2020</td>
      <td align="center">1500</td>
      <td align="center">1300</td>
    </tr>

    <tr>
      <td align="center">1</td>
      <td align="center" rowspan="5">Современная школа РБ</td>
      <td align="center" rowspan="5">Цыбикжапов&nbspВ.Б.</td>
      <td align="center" rowspan="5">Жалсанов&nbspБ.Б.</td>
      <td align="center" rowspan="1">Количество сонащенных школ</td>
      <td align="center">03-2020</td>
      <td align="center">10</td>
      <td align="center">7</td>
    </tr>
    <tr>
      <td align="center" rowspan="4">2</td>
      <td align="center" rowspan="4">Количество обученных преподавателей</td>
      <td align="center">06-2020</td>
      <td align="center">30</td>
      <td align="center">15</td>
    </tr>
    <tr>
      <td align="center">09-2020</td>
      <td align="center">70</td>
      <td align="center">54</td>
    </tr>
    <tr>
      <td align="center">12-2020</td>
      <td align="center">100</td>
      <td align="center">95</td>
    </tr>
    <tr>
      <td align="center">06-2020</td>
      <td align="center">800</td>
      <td align="center">800</td>
    </tr>
    </tbody>
  </table>
</div>

<div id="project" class="tabcontent">
  <h2>KPI по проекту</h2>
  <table class="ass">
    <tr>
      <td>Проект</td>
      <td><b>Современная школа</b></td>
    </tr>
    <tr>
      <td>Куратор</td>
      <td>
        <b >Цыбикжапов&nbspВ.Б.</b>
      </td>
    </tr>
    <tr>
      <td>Руководитель</td>
      <td>
        <b>Жалсанов&nbspБ.Б.</b>
      </td>
    </tr>
  </table>
  <table border="1" width="100%" cellpadding="5" class="blueTable">
    <thead>
    <tr>
      <th>№ п/п</th>
      <th>Показатель</th>
      <th>КТ</th>
      <th>Плановое значение</th>
      <th>Фактическое значение</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td align="center" rowspan="4">1</td>
      <td align="center" rowspan="4">Количество оснащенных новым обрудованиешкол</td>
      <td align="center">03-2020</td>
      <td align="center">50</td>
      <td align="center">48<button style="float: right;">...</button></td>
    </tr>
    <tr>
      <td align="center">06-2020</td>
      <td align="center">75</td>
      <td align="center">76<button style="float: right;">...</button></td>
    </tr>
    <tr>
      <td align="center">09-2020</td>
      <td align="center">100</td>
      <td align="center"><button style="float: right;">...</button></td>
    </tr>
    <tr>
      <td align="center">12-2020</td>
      <td align="center">150</td>
      <td align="center"><button style="float: right;">...</button></td>
    </tr>

    <tr>
      <td align="center" rowspan="3">2</td>
      <td align="center" rowspan="3">Количество обученных преподавателей</td>
      <td align="center">12-2020</td>
      <td align="center">120</td>
      <td align="center">140<button style="float: right;">...</button></td>
    </tr>
    <tr>
      <td align="center">03-2020</td>
      <td align="center">150</td>
      <td align="center">205<button style="float: right;">...</button></td>
    </tr>
    <tr>
      <td align="center">06-2020</td>
      <td align="center">300</td>
      <td align="center">300<button style="float: right;">...</button></td>
    </tr>
    </tbody>
  </table>
</div>
