<%#--
This file written by BBM
23/04/2019
++#%>
<% html_title l(:label_administration), l(:label_risks) %>
<%= toolbar title: l(:label_risks) %>
<h3 class="-no-border"><%= l(:label_typed_risks) %></h3>
<%= cell ::Risks::TableCell, TypedRisk.shared %>
