<%= error_messages_for :report_wp_by_period %>
<section class="form--section">
  <div class="form--field"><%= f.date_field 'label_by_date_from', container_class: '-middle', required: true %></div>
  <div class="form--field"><%= f.date_field 'label_by_date_to', container_class: '-middle', required: true %></div>
</section>
