<%#--
This file written by BBM
26/04/2019
++#%>

<% html_title l(:label_administration), "#{l(:label_edit)} #{ProjectRisk.model_name.human} #{h @project_risk.name}" %>
<% breadcrumb_paths(default_breadcrumb, @project_risk) %>
<%= toolbar title: @project_risk %>

<div class="tabs">
  <ul>
    <li>
      <%= link_to t("typed_risks.edit.properties"),
                  edit_tab_project_project_risk_path(id: @project_risk.id, tab: :properties),
                  class: "#{'selected' if @tab == "properties" }"  %>
    </li>
    <li>
      <%= link_to t("typed_risks.edit.risk_characts"),
                  edit_tab_project_project_risk_path(id: @project_risk.id, tab: :risk_characts),
                  class: "#{'selected' if @tab == 'risk_characts' }"  %>
    </li>
  </ul>
</div>

<%= render partial: "project_risks/form/#{@tab}"%>
