<div style="display: block;">
  <ul class="widget-box--arrow-links">
    <li style="margin: 10px;">
      <%= link_to 'Проектные риски', project_project_risks_path(@project)  %>
    </li>
    <li style="margin: 10px;">
      <%= link_to 'Участники', project_members_path(@project)  %>
    </li>
    <li style="margin: 10px;">
      <%= link_to 'Документы', project_documents_path(@project)  %>
    </li>
  </ul>
</div>

