<div style="display: block;">
  <ul class="widget-box--arrow-links">
    <li style="margin: 10px;">
      <%= link_to 'Новости', project_news_index_path(@project)  %>
    </li>
    <li style="margin: 10px;">
      <%= link_to 'Календарь', project_work_packages_calendar_index_path(@project)  %>
    </li>
    <li style="margin: 10px;">
      <%= link_to 'Совещания', meetings_path(@project)  %>
    </li>
  </ul>
</div>
