<%#-- by zbd
24.06.2019
++#%>

<fieldset class="form--fieldset -with-control" id="modules-form">
  <legend class="form--fieldset-legend"><%= "Данные паспорта проекта" %></legend>
  <div>
    <%= render partial: 'projects/edit' %>
  </div>
</fieldset>
