<div style="display: block;">
  <div style="margin: 10px;">
    <%= link_to 'Пакеты работ', project_work_packages_path(@project)  %>
  </div>
  <div style="margin: 10px;">
    <%= link_to 'Календарь', project_work_packages_calendar_index_path(@project)  %>
  </div>
  <div style="margin: 10px;">
    <%= link_to 'Стратегическая карта', project_activity_index_path(@project)  %>
  </div>
</div>
