<h3 class="widget-box--header" cdkDragHandle>
    <span class="widget-box--header-title">Задачи мне</span>
</h3>
<div class="grid--widget-content">
    <table width="100%" cellpadding="2" style="text-align: left">
        <tr style="border-bottom: 1px solid #E7E7E7; height: 40px;"><th>Создатель задачи</th><th>Проект</th><th>Связанный объект</th><th>Текст</th><th>Срок</th><th>Выполнено</th></tr>
        <ng-container *ngFor="let user_task of entries">
            <tr style="border-bottom: 1px solid #E7E7E7; height: 40px;">
                <td><a [href]="user_taskCreator(user_task)" [textContent]="user_task.user_creator"></a></td>
                <td><a [href]="user_task.project" [textContent]="user_task.project_name"></a></td>
                <td><a [href]="user_task.object" [textContent]="user_task.object_name"></a></td>
                <td><a [href]="user_taskResponse(user_task)" [textContent]="user_task.text"></a></td>
                <td [textContent]="user_task.due_date"></td>
                <td [textContent]="user_task.completed"></td>
            </tr>
        </ng-container>
    </table>
</div>
<div>
    <input type="checkbox"
           id="diagram_date_check"
           (change)="filterChart()"
           [(ngModel)]="dateCheck"
           name="date_check" />
    Дата
    <op-date-picker (onChange)="dateBegin = parser($event); filterChart()">
        <input [ngModel]="formatter(dateBegin)"
               (ngModelChange)="dateBegin = parser($event); filterChart()"
               id="diagram_date_begin"
               name="date_begin_dp"
               class="advanced-filters--date-field"
               size="10"
               type="text"/>
    </op-date-picker>
    <op-date-picker (onChange)="dateEnd = parser($event); filterChart()">
        <input [ngModel]="formatter(dateEnd)"
               (ngModelChange)="dateEnd = parser($event); filterChart()"
               id="diagram_date_end"
               name="date_end_dp"
               class="advanced-filters--date-field"
               size="10"
               type="text"/>
    </op-date-picker>
</div>
