<div class="form--field">
  <label class="form--label -required" title="Пакет работ" for="message_work_package_id">
    Пакет работ
    <span class="form--label-required" aria-hidden="true">*</span>
  </label>
  <span class="form--field-container">
    <span class="form--text-field-container -wide">
      <input required="required" size="60" container_class="-wide" class="form--text-field" aria-required="true" type="text"
             value="{{selectedWPid}}" name="message[work_package_id]" id="message_work_package_id" style="display: none;">
      {{selectedWP}}
      <button mat-raised-button (click)="openDialog()" style="width: 30px; float: right;" type="button" >...</button>
    </span>
  </span>
</div>


