<% manager = ::OpenProject::Avatars::AvatarManager %>
<% html_title l(:label_administration), l(:label_plugins), 'Openproject Avatars' %>

<fieldset class="form--fieldset">
  <legend class="form--fieldset-legend"><%= t 'avatars.label_local_avatar'  %></legend>
  <div class="form--field">
    <%= hidden_field_tag  'settings[enable_local_avatars]', 0 %>
    <div class="form--field-container">
      <%= styled_check_box_tag 'settings[enable_local_avatars]', 1, manager.local_avatars_enabled?, container_class: '-xslim', id: 'settings-enable-local-avatars' %>
    </div>
  </div>
</fieldset>
