<% html_title l(:label_administration), l(:label_positions) %>
<%= toolbar title: l(:label_positions) do %>
  <li class="toolbar-item">
    <%= link_to(catalog_loaders_path(catalog_type: "positions" ),
                aria: { label: t(:button_add) },
                class: 'button -alt-highlight',
                title: t(:button_add)) do %>
      <%= op_icon('button--icon icon-add') %>
      <span class="button--text">Загрузить</span>
    <% end %>
  </li>
<% end %>

<%= cell ::Positions::TableCell, Position.all%>
