<select [(ngModel)]="selectedOption"
        [compareWith]="compareByHref"
        (change)="handleUserSubmit()">
    <option
            *ngFor="let value of valueOptions"
            [attr.selected]="compareByHref(selectedOption, value) || undefined"
            [attr.label]="value.name"
            [ngValue]="value"
            [textContent]="value.name">
    </option>
</select>

<div ng-app="OpenProjectLegacy" class="ng-scope" *ngIf="selectedOption">
    <div id="invisible-grid" class="widget-boxes project-overview">
        <div class="grid-block" style="overflow-x: scroll;">
            <div style="visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_zdravoohr')}}</p>
                <homescreen-diagram [raionId]="selectedOption.$href" chart-name='zdravoohranenie' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_obraz')}}</p>
                <homescreen-diagram [raionId]="selectedOption.$href" chart-name='obrazovanie' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_demogr')}}</p>
                <homescreen-diagram [raionId]="selectedOption.$href" chart-name='demografia' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_cultur')}}</p>
                <homescreen-diagram [raionId]="selectedOption.$href" chart-name='cultura' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_avtodor')}}</p>
                <homescreen-diagram [raionId]="selectedOption.$href" chart-name='avtodorogi' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_gorsreda')}}</p>
                <homescreen-diagram [raionId]="selectedOption.$href" chart-name='gorsreda' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_ekol')}}</p>
                <homescreen-diagram [raionId]="selectedOption.$href" chart-name='ekologia' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_nauka')}}</p>
                <homescreen-diagram [raionId]="selectedOption.$href" chart-name='nauka' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px" title="{{this.I18n.t('js.national_project_msp')}}">{{this.I18n.t('js.national_project_msp_short')}}</p>
                <homescreen-diagram [raionId]="selectedOption.$href" chart-name='msp' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_digital')}}</p>
                <homescreen-diagram [raionId]="selectedOption.$href" chart-name='digital' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_trud')}}</p>
                <homescreen-diagram [raionId]="selectedOption.$href" chart-name='trud' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.national_project_export')}}</p>
                <homescreen-diagram [raionId]="selectedOption.$href" chart-name='export' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
            <div style="visibility:hidden;">
                <p style="text-align: center;font-weight: bold;margin: -2px; height: 50px">{{this.I18n.t('js.project_republic')}}</p>
                <homescreen-diagram [raionId]="selectedOption.$href" chart-name='republic' chart-labels='["Нет откл.","Небольшие откл.","Значит. откл", "Нет данных"]' chart-colors='["#00b050", "#ffc000", "#c00000", "#1f497d"]'>
                </homescreen-diagram>
            </div>
        </div>
    </div>
    <homescreen-blue-table [template]="'municipality'"></homescreen-blue-table>
    <div style="display: inline-flex;border: 1px solid #1A67A3;width: 100%;">
        <table border="0" class="coloredTable">
            <thead>
            <tr>
                <th class="colored-col-green" colspan="3">Предстоящие мероприятия:</th>
                <th class="colored-col-red" colspan="3">Просроченные КТ:</th>
                <th class="colored-col-orange" colspan="3">Проблемы:</th>
                <th class="colored-col-purple" colspan="3">Бюджет:</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of data; let i = index" >
                <td *ngIf="item.upcoming_tasks"
                    [ngClass]="getGreenClass(i)"
                    [textContent]="i + 1"></td>
                <td *ngIf="item.upcoming_tasks"
                    [ngClass]="getGreenClass(i)">
                    <a href="{{this.getBasePath()}}/projects/{{item.upcoming_tasks.projectId}}/work_packages/{{item.upcoming_tasks.id}}/activity?plan_type=execution"
                       [textContent]="shorten(item.upcoming_tasks.subject)" [title]="item.upcoming_tasks.subject"></a>
                </td>
                <td *ngIf="item.upcoming_tasks"
                    [ngClass]="getGreenClass(i)">
                    <a href="{{this.getBasePath()}}/projects/{{item.upcoming_tasks.projectId}}"
                       [textContent]="shorten(item.upcoming_tasks.project)"  [title]="item.upcoming_tasks.project"></a>
                </td>
                <td *ngIf="!item.upcoming_tasks" [ngClass]="getGreenClass(i)"></td>
                <td *ngIf="!item.upcoming_tasks" [ngClass]="getGreenClass(i)"></td>
                <td *ngIf="!item.upcoming_tasks" [ngClass]="getGreenClass(i)"></td>

                <td *ngIf="item.due_milestone"
                    [ngClass]="getRedClass(i)"
                    [textContent]="i + 1"></td>
                <td *ngIf="item.due_milestone"
                    [ngClass]="getRedClass(i)">
                    <a href="{{this.getBasePath()}}/projects/{{item.due_milestone.projectId}}/work_packages/{{item.due_milestone.id}}/activity?plan_type=execution"
                       [textContent]="shorten(item.due_milestone.subject)" [title]="item.due_milestone.subject"></a>
                </td>
                <td *ngIf="item.due_milestone"
                    [ngClass]="getRedClass(i)">
                    <a href="{{this.getBasePath()}}/projects/{{item.due_milestone.projectId}}"
                       [textContent]="shorten(item.due_milestone.project)" [title]="item.due_milestone.project"></a>
                </td>
                <td *ngIf="!item.due_milestone" [ngClass]="getRedClass(i)"></td>
                <td *ngIf="!item.due_milestone" [ngClass]="getRedClass(i)"></td>
                <td *ngIf="!item.due_milestone" [ngClass]="getRedClass(i)"></td>

                <td *ngIf="item.problems"
                    [ngClass]="getOrangeClass(i)"
                    [textContent]="i + 1"></td>
                <td *ngIf="item.problems"
                    [ngClass]="getOrangeClass(i)">
                    <span
                            [textContent]="shorten(item.problems.risk)" [title]="item.problems.risk"></span>
                </td>
                <td *ngIf="item.problems"
                    [ngClass]="getOrangeClass(i)">
                    <a href="{{this.getBasePath()}}/work_packages/{{item.problems.wpid}}"
                       [textContent]="shorten(item.problems.wptitle)" [title]="item.problems.wptitle"></a>
                </td>
                <td *ngIf="!item.problems" [ngClass]="getOrangeClass(i)"></td>
                <td *ngIf="!item.problems" [ngClass]="getOrangeClass(i)"></td>
                <td *ngIf="!item.problems" [ngClass]="getOrangeClass(i)"></td>

                <td *ngIf="item.budget"
                    [ngClass]="getPurpleClass(i)"
                    [textContent]="i + 1"></td>
                <td *ngIf="item.budget"
                    [ngClass]="getPurpleClass(i)">
                    <a href="{{this.getBasePath()}}/projects/{{item.budget.id}}"
                       [textContent]="shorten(item.budget.name)" [title]="item.budget.name"></a>
                </td>
                <td *ngIf="item.budget"
                    [ngClass]="getPurpleClass(i)"[textContent]="item.budget.value.toFixed(2)">
                </td>
                <td *ngIf="!item.budget" [ngClass]="getPurpleClass(i)"></td>
                <td *ngIf="!item.budget" [ngClass]="getPurpleClass(i)"></td>
                <td *ngIf="!item.budget" [ngClass]="getPurpleClass(i)"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

