<%#--
This file written by XCC
06/07/2019
++#%>

<%= error_messages_for :report %>
<section class="form--section">
  <%= link_to "Отчет о ходе реализации проекта", {report_id: "report_progress_project"}, class: 'button' %>
</section>
