<%#--
This file written by BAN
25/10/2019
++#%>
<% if @user_task.errors.any? %>
  <div id="error_explanation">
    <h2>
      Ошибка(и):
    </h2>
    <ul>
      <% @user_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= case @user_task.kind
    when 'Note'
      render partial: "user_tasks/edit_note", locals: { form: form }
    when 'Request'
      if @user_task.object_type == 'WorkPackage'
        render partial: "user_tasks/edit_request_wp", locals: { form: form }
      else
        render partial: "user_tasks/edit_request", locals: { form: form }
      end
    when 'Task'
      render partial: "user_tasks/edit_task", locals: { form: form }
    when 'Response'
      render partial: "user_tasks/edit_response", locals: { form: form }
    end
%>
