<%#--
This file written by BAN
11/09/2019
++#%>
  <% if @user_task.errors.any? %>
    <div id="error_explanation">
      <h2>
        Ошибка(и):
      </h2>
      <ul>
        <% @user_task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--Пример-->
<!-- Создаем радио кнопки для каждого типа-->

<!--<div class="form--field">-->
<!--  <label class="form--label">-->
    <%#= label_tag I18n.t(:'activerecord.models.type') %>
<!--  </label>-->
<!--  <span class="form--field-container">-->
    <%# I18n.t("activerecord.attributes.user_task.kind").each do |type|%>
      <%#= radio_button_tag 'kind', type[0], true, class: 'radio-kind' %>
      <%#= label_tag type[1] %>
    <%# end %>
<!--  </span>-->
<!--</div>-->

<!--Для каждого аттрибута создаем формфиелд с 2 дополнительными классами radio-depend и kind_[имя типа]-->
<!--У одного форм филда может быть несколько kind-ов -->

<!--<div class="form--field radio-depend kind_task kind_note">-->
<!--  <span class="form--field-container -wide">-->
    <%#= text_field_tag 'test_task', 'Task', container_class: '-slim' %>
<!--  </span>-->
<!--</div>-->
<!--<div class="form--field radio-depend kind_note">-->
<!--  <span class="form--field-container -wide">-->
  <%#= text_field_tag 'test_note', 'Note', container_class: '-slim' %>
<!--    </span>-->
<!--</div>-->
<!--<div class="form--field radio-depend kind_request">-->
<!--  <span class="form--field-container -wide">-->
  <%#= text_field_tag 'test_request', 'Request', container_class: '-slim' %>
<!--    </span>-->
<!--</div>-->
<!--<div class="form--field radio-depend kind_response">-->
<!--  <span class="form--field-container -wide">-->
  <%#= text_field_tag 'test_response', 'Response', container_class: '-slim' %>
<!--    </span>-->
<!--</div>-->


<%= case params[:kind]
    when 'Note'
      render partial: "user_tasks/new_note", locals: { form: form }
    when 'Request'
      if params[:object_type] == 'WorkPackage'
        render partial: "user_tasks/new_request_wp", locals: { form: form }
        else
        render partial: "user_tasks/new_request", locals: { form: form }
        end
    when 'Task'
      render partial: "user_tasks/new_task", locals: { form: form }
    when 'Response'
      render partial: "user_tasks/new_response", locals: { form: form }
    end
%>
<%=javascript_include_tag 'form_by_radio' %>
