<%#--
This file written by BAN
11/09/2019
++#%>
<%= form_with model: @user_task, local: true do |form| %>

  <h1>Редактирование</h1>

  <%= render partial: "user_tasks/form_edit", locals: { form: form } %>
  <p><%= form.submit 'Сохранить' %></p>
  <p><a href="/my/page">Вернуться к моей странице</a></p>
<% end %>
