<%#--
This file written by BAN
11/09/2019
++#%>
<p>
  <strong>Текст:</strong>
  <%= @user_task.text %>
</p>
<%= link_to 'Редактировать', edit_user_task_path(@user_task) %>
<p><a href="/my/page">Вернуться к моей странице</a></p>
